﻿
@{
    ViewBag.Title = "PurchaseOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/ngScript/PurchaseOrder/PurchaseOrderController.js"></script>
<div ng-controller="PurchaseOrderController">

    <div class="row">
        <div class="col-md-6">
            <label><h1>PurchaseOrder Details</h1></label>
            <div class="text-left">
                <button type="submit" class="btn btn-primary" ng-click="AddPurchaseOrder()">Add New PurchaseOrder </button>

                <div class="alert alert-success no-border" id="successdiv" ng-hide="success">
                    <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                    <span class="text-semibold">Well done!</span> You successfully save <a href="#" class="alert-link">this data</a>
                </div>
                <div class="alert alert-success no-border" id="successdiv" ng-hide="delete">
                    <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                    <span class="text-semibold">Well done!</span> You successfully delete <a href="#" class="alert-link">this data</a>
                </div>
                <div class="alert alert-danger no-border" id="errordiv" ng-hide="error">
                    <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                    <span class="text-semibold">Oh snap!</span> <a href="#" class="alert-link">try Try again</a>.
                </div>
                <div class="alert alert-danger no-border" id="errordiv" ng-hide="listerror">
                    <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                    <span class="text-semibold">Oh snap!</span> error in getting list <a href="#" class="alert-link">try refresh again</a>.
                </div>
            </div>
        </div>

    </div>

    <div class="panel panel-flat">
        <div class="panel-body" ng-hide="panel">

            <div class="row">
                <div class="col-md-12">
                    <fieldset>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Trans Type <span class="text-danger">*</span> :</label>
                                    <input type="text" name="TransType" placeholder="TransType" class="form-control" ng-model="TransType" id="TransType" required="required">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>PO Number Type <span class="text-danger">*</span> :</label>
                                    <input type="text" name="PONumber" placeholder="PONumber" class="form-control" ng-model="PONumber" id="PONumber" required="required">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>PO Date <span class="text-danger">*</span> :</label>
                                    <input type="text" name="PODate" class="form-control pickadate" ng-model="PODate" id="PODate" required="required">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>PO Release Date <span class="text-danger">*</span> :</label>
                                    <input type="text" class="form-control pickadate" ng-model="POReleaseDate" id="POReleaseDate" required="required">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Select Branch <span class="text-danger">*</span> :</label>
                                    <select class="form-control" ng-model="BranchID" id="BranchID"
                                            ng-options="item.BranchID as item.BranchName for item in BranchList">
                                        <option value="">Select Branch</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Vendor <span class="text-danger">*</span> :</label>
                                    <select class="form-control" ng-model="VendorID" id="VendorID"
                                            ng-options="item.VendorID as item.VendorShortName for item in VendorList">
                                        <option value="">Select Vendor</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Store Location <span class="text-danger">*</span> :</label>
                                    <select class="form-control" ng-model="SLocationID" id="SLocationID"
                                            ng-options="item.SLocationID as item.Name for item in LocationList">
                                        <option value="">Select Location</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Release Status <span class="text-danger">*</span> :</label>
                                    <input type="checkbox" class="form-control" ng-model="ReleaseStatus" id="ReleaseStatus">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Buyer <span class="text-danger">*</span> :</label>
                                    <input type="text" name="BuyerID" placeholder="BuyerID" class="form-control" ng-model="BuyerID" id="BuyerID" required="required">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Fix Discount :</label>
                                    <input type="text" name="FixDiscount" placeholder="FixDiscount" class="form-control" ng-model="FixDiscount" id="FixDiscount" required="required">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Sub Total :</label>
                                    <input type="text" name="SubTotal" placeholder="SubTotal" class="form-control" ng-model="SubTotal" id="SubTotal" required="required">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>VAT :</label>
                                    <input type="text" name="VAT" placeholder="VAT" class="form-control" ng-model="VAT" id="VAT" required="required">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Net Amount <span class="text-danger">*</span> :</label>
                                    <input type="text" name="NetAmount" placeholder="NetAmount" class="form-control" ng-model="NetAmount" id="NetAmount" required="required">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>


            <div class="text-right">
                <div class="text-left">
                    <span ng-model="errormessage" style="color: red;" ng-bind="errormessage"></span>
                </div>
                <button type="submit" class="btn btn-primary" id="btncancel" ng-click="CancelPurchaseOrder()">Cancel </button>
                <button type="submit" class="btn btn-primary" id="btnsave" ng-click="SubmitPurchaseOrder()">Submit <i class="icon-arrow-right14 position-right"></i></button>
                <button type="submit" class="btn btn-primary" id="btnupdate" ng-click="UpdatePurchaseOrder()">Update <i class="icon-arrow-right14 position-right"></i></button>

            </div>

        </div>
    </div>


    <div class="panel panel-flat">
        <div class="panel-body">

            <div class=" border-ra div-bg-pd">
                <table ng-table="tableParams  " class="table  datatable-basic dataTable no-footer" show-filter="true">
                    <tr ng-repeat="zm in data">

                        <td data-title="'#'" style="text-align: center" width="4" ng-bind="$index+1"></td>
                        <td data-title="'Trans Type'" filter="{ TransType: 'text'}" sortable="'TransType'" ng-bind="zm.TransType" nowrap></td>
                        <td data-title="'Branch Name'" filter="{ BranchName: 'text'}" sortable="'BranchName'" ng-bind="zm.BranchName" nowrap></td>
                        <td data-title="'PONumber'" filter="{ PONumber: 'text'}" sortable="'PONumber'" ng-bind="zm.PONumber" nowrap></td>
                        <td data-title="'Vendor ShortName'" filter="{ VendorShortName: 'text'}" sortable="'VendorShortName'" ng-bind="zm.VendorShortName" nowrap></td>
                        @*<td data-title="'PO Date'" filter="{ PODate: 'text'}" sortable="'PODate'" ng-bind="zm.PODate | date:'dd-MMM-yyyy'" nowrap></td>
                        <td data-title="'PO ReleaseDate'" filter="{ POReleaseDate: 'text'}" sortable="'POReleaseDate'" ng-bind="zm.POReleaseDate| date:'dd-MMM-yyyy'" nowrap></td>*@
                        <td data-title="'Action'" class="tbl-controls" nowrap>
                            <a class="btn btn-xs btn-primary btn-rad" ng-click="EditPurchaseOrder(zm)" data-toggle="modal" data-target="#myModal">Edit</a>
                            <a class="btn btn-xs btn-primary btn-rad" ng-click="DeletePurchaseOrder(zm.AutoID)">Delete</a>
                        </td>
                    </tr>
                    <tr ng-show="tableParams.total() == 0">
                        <td colspan="12">
                            No data.
                        </td>
                    </tr>

                </table>
            </div>
        </div>
    </div>

</div>
<script>
     $('.pickadate').pickadate();
    $('.pickadate').pickadate({

        //format: 'dd-MMM-yyyy',
        formatSubmit: 'yyyy/mm/dd',
        autoclose: true
    });
</script>

