﻿
@{
    ViewBag.Title = "SaleAnalysisReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/ngScript/SaleAnalysisReport/SaleAnalysisReportController.js"></script>
<div ng-controller="SaleAnalysisReportController">
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h6 class="panel-title">Sale Analysis<a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>  
        </div>

        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <fieldset>
                        <div class="row">
                            <div class="col-md-3">
                                <label>From Date:</label>
                                <input type="text" class="form-control pickadate" placeholder="Select Date" ng-model="fromdate" id="from" readonly />
                            </div>
                            <div class="col-md-3">
                                <label>To Date:</label>
                                <input type="text" class="form-control pickadate" placeholder="Select Date" ng-model="todate" id="to" readonly />
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>

            <div class="text-right">
                <button type="submit" class="btn btn-primary" id="btnsave" ng-click="SaleAnalysis()">Show <i class="icon-arrow-right14 position-right"></i></button>
            </div>
        </div>
        <!-- Simple pie chart -->
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h5 class="panel-title">Pie chart</h5>
                <div class="heading-elements">
                    <ul class="icons-list">
                        <li><a data-action="collapse"></a></li>                        
                        <li><a data-action="close"></a></li>
                    </ul>
                </div>
            </div>
            <div class="panel-body">
                <div class="chart-container text-center">
                    <div class="display-inline-block" id="google-pie"></div>
                </div>
            </div>
        </div>
        <!-- /simple pie chart -->
    </div>
</div>

