﻿
@{
    ViewBag.Title = "Object";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/ngScript/Object/ObjectController.js"></script>
<div ng-controller="ObjectController">

    <div class="row">
        <div class="col-md-6">
            <label><h1>Object Details</h1></label>
            <div class="text-left">
                <button type="submit" class="btn btn-primary" ng-click="AddObject()">Add New Object </button>

                <div class="alert alert-success no-border" id="successdiv" ng-hide="success">
                    <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                    <span class="text-semibold">Well done!</span> You successfully save <a href="#" class="alert-link">this data</a>
                </div>
                <div class="alert alert-success no-border" id="successdiv" ng-hide="delete">
                    <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                    <span class="text-semibold">Well done!</span> You successfully delete <a href="#" class="alert-link">this data</a>
                </div>
                <div class="alert alert-danger no-border" id="errordiv" ng-hide="error">
                    <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                    <span class="text-semibold">Oh snap!</span> <a href="#" class="alert-link">try Try again</a>.
                </div>
                <div class="alert alert-danger no-border" id="errordiv" ng-hide="listerror">
                    <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                    <span class="text-semibold">Oh snap!</span> error in getting list <a href="#" class="alert-link">try refresh again</a>.
                </div>
            </div>
        </div>

    </div>

    <div class="panel panel-flat">
        <div class="panel-body" ng-hide="panel">

            <div class="row">
                <div class="col-md-12">
                    <fieldset>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-Object">
                                    <label>Object Caption <span class="text-danger">*</span> :</label>
                                    <input type="text" name="ObjectCaption" placeholder="ObjectCaption" class="form-control" ng-model="ObjectCaption" id="ObjectCaption" required="required">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-Object">
                                    <label>Object Type <span class="text-danger">*</span> :</label>
                                    <input type="text" name="ObjectType" placeholder="ObjectType" class="form-control" ng-model="ObjectType" id="ObjectType" required="required">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-Object">
                                    <label>Group <span class="text-danger">*</span> :</label>
                                    <input type="text" name="Group" placeholder="Group" class="form-control" ng-model="Group" id="Group" required="required">
                                </div>
                            </div>                           
                        </div>


                    </fieldset>
                </div>
            </div>          

            <div class="text-right">
                <div class="text-left">
                    <span ng-model="errormessage" style="color: red;" ng-bind="errormessage"></span>
                </div>
                <button type="submit" class="btn btn-primary" id="btncancel" ng-click="CancelObject()">Cancel </button>
                <button type="submit" class="btn btn-primary" id="btnsave" ng-click="SubmitObject()">Submit <i class="icon-arrow-right14 position-right"></i></button>
                <button type="submit" class="btn btn-primary" id="btnupdate" ng-click="UpdateObject()">Update <i class="icon-arrow-right14 position-right"></i></button>

            </div>

        </div>
    </div>


    <div class="panel panel-flat">
        <div class="panel-body">

            <div class=" border-ra div-bg-pd">
                <table ng-table="tableParams  " class="table  datatable-basic dataTable no-footer" show-filter="true">
                    <tr ng-repeat="zm in data">

                        <td data-title="'#'" style="text-align: center" width="4" ng-bind="$index+1"></td>
                        <td data-title="'ObjectCaption'" filter="{ ObjectCaption: 'text'}" sortable="'ObjectCaption'" ng-bind="zm.ObjectCaption" nowrap></td>
                        <td data-title="'ObjectType'" filter="{ ObjectType: 'text'}" sortable="'ObjectType'" ng-bind="zm.ObjectType" nowrap></td>
                        <td data-title="'Group'" filter="{ Group: 'text'}" sortable="'Group'" ng-bind="zm.Group" nowrap></td>                      
                        <td data-title="'Action'" class="tbl-controls" nowrap>
                            <a class="btn btn-xs btn-primary btn-rad" ng-click="EditObject(zm)" data-toggle="modal" data-target="#myModal">Edit</a>
                            <a class="btn btn-xs btn-primary btn-rad" ng-click="DeleteObject(zm.ObjectID)">Delete</a>
                        </td>
                    </tr>
                    <tr ng-show="tableParams.total() == 0">
                        <td colspan="12">
                            No data.
                        </td>
                    </tr>

                </table>
            </div>
        </div>
    </div>

</div>

