﻿
@{
    ViewBag.Title = "UserAccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/ngScript/UserAccess/UserAccessController.js"></script>
<div ng-controller="UserAccessController">

    <div class="row">
        <div class="col-md-6">
            <label><h1>VendorType Details</h1></label>
            <div class="text-left">
                <button type="submit" class="btn btn-primary" ng-click="AddUserAccess()">Add New UserAccess </button>

                <div class="alert alert-success no-border" id="successdiv" ng-hide="success">
                    <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                    <span class="text-semibold">Well done!</span> You successfully save <a href="#" class="alert-link">this data</a>
                </div>
                <div class="alert alert-success no-border" id="successdiv" ng-hide="delete">
                    <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                    <span class="text-semibold">Well done!</span> You successfully delete <a href="#" class="alert-link">this data</a>
                </div>
                <div class="alert alert-danger no-border" id="errordiv" ng-hide="error">
                    <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                    <span class="text-semibold">Oh snap!</span> <a href="#" class="alert-link">try Try again</a>.
                </div>
                <div class="alert alert-danger no-border" id="errordiv" ng-hide="listerror">
                    <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                    <span class="text-semibold">Oh snap!</span> error in getting list <a href="#" class="alert-link">try refresh again</a>.
                </div>
            </div>
        </div>

    </div>

    <div class="panel panel-flat">
        <div class="panel-body" ng-hide="panel">

            <div class="row">
                <div class="col-md-12">
                    s
                    <fieldset>
                        <div class="row">

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>User <span class="text-danger">*</span> :</label>
                                    <select class=" form-control" ng-model="UserID" id="UserID" name="UserID"
                                            ng-options="item.UserID as item.UserName for item in UserList">
                                        <option value="">Select User</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Branch <span class="text-danger">*</span> :</label>
                                    <select class=" form-control" ng-model="BranchID" id="BranchID" name="BranchID"
                                            ng-options="item.BranchID as item.BranchName for item in BranchList">
                                        <option value="">Select Branch</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Allow Access  :</label>
                                    <input type="checkbox" class="form-control" ng-model="AllowAccess" id="AllowAccess">
                                </div>
                            </div>
                        </div>


                    </fieldset>
                </div>
            </div>


            <div class="text-right">
                <div class="text-left">
                    <span ng-model="errormessage" style="color: red;" ng-bind="errormessage"></span>
                </div>
                <button type="submit" class="btn btn-primary" id="btncancel" ng-click="CancelUserAccess()">Cancel </button>
                <button type="submit" class="btn btn-primary" id="btnsave" ng-click="SubmitUserAccess()">Submit <i class="icon-arrow-right14 position-right"></i></button>
                <button type="submit" class="btn btn-primary" id="btnupdate" ng-click="UpdateUserAccess()">Update <i class="icon-arrow-right14 position-right"></i></button>

            </div>

        </div>
    </div>


    <div class="panel panel-flat">
        <div class="panel-body">

            <div class=" border-ra div-bg-pd">
                <table ng-table="tableParams  " class="table  datatable-basic dataTable no-footer" show-filter="true">
                    <tr ng-repeat="zm in data">

                        <td data-title="'#'" style="text-align: center" width="4" ng-bind="$index+1"></td>
                        <td data-title="'UserName'" filter="{ UserName: 'text'}" sortable="'UserName'" ng-bind="zm.UserName" nowrap></td>
                        <td data-title="'BranchName'" filter="{ BranchName: 'text'}" sortable="'BranchName'" ng-bind="zm.BranchName" nowrap></td>
                        <td data-title="'AllowAccess'" filter="{ AllowAccess: 'text'}" sortable="'AllowAccess'" ng-bind="zm.AllowAccess" nowrap></td>
                        <td data-title="'Action'" class="tbl-controls" nowrap>
                            <a class="btn btn-xs btn-primary btn-rad" ng-click="EditUserAccess(zm)" data-toggle="modal" data-target="#myModal">Edit</a>
                            <a class="btn btn-xs btn-primary btn-rad" ng-click="DeleteUserAccess(zm.AutoID)">Delete</a>
                        </td>
                    </tr>
                    <tr ng-show="tableParams.total() == 0">
                        <td colspan="12">
                            No data.
                        </td>
                    </tr>

                </table>
            </div>
        </div>
    </div>

</div>



