﻿
@{
    ViewBag.Title = "City";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/ngScript/City/CityController.js"></script>
<div ng-controller="CityController">

    <div class="row">
        <div class="col-md-6">
            <label><h1>City Details</h1></label>
            <div class="text-left">
                <button type="submit" class="btn btn-primary" ng-click="AddCity()">Add New City </button>

                <div class="alert alert-success no-border" id="successdiv" ng-hide="success">
                    <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                    <span class="text-semibold">Well done!</span> You successfully save <a href="#" class="alert-link">this data</a>
                </div>
                <div class="alert alert-success no-border" id="successdiv" ng-hide="delete">
                    <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                    <span class="text-semibold">Well done!</span> You successfully delete <a href="#" class="alert-link">this data</a>
                </div>
                <div class="alert alert-danger no-border" id="errordiv" ng-hide="error">
                    <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                    <span class="text-semibold">Oh snap!</span> <a href="#" class="alert-link">try Try again</a>.
                </div>
                <div class="alert alert-danger no-border" id="errordiv" ng-hide="listerror">
                    <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                    <span class="text-semibold">Oh snap!</span> error in getting list <a href="#" class="alert-link">try refresh again</a>.
                </div>
            </div>
        </div>

    </div>

    <div class="panel panel-flat">
        <div class="panel-body" ng-hide="panel">

            <div class="row">
                <div class="col-md-12">
                    <fieldset>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>City Code <span class="text-danger">*</span> :</label>
                                    <input type="text" name="CityCode" placeholder="CityCode" class="form-control" ng-model="CityCode" id="CityCode" required="required">
                                    @*<input type="text" name="basic" class="form-control" required="required" placeholder="Text input validation">*@
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Name <span class="text-danger">*</span> :</label>
                                    <input type="text" name="Name" placeholder="Name" class="form-control" ng-model="Name" id="Name" required="required">
                                    @*<input type="text" name="basic" class="form-control" required="required" placeholder="Text input validation">*@
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>NameAR <span class="text-danger">*</span> :</label>
                                    <input type="text" name="NameAR" placeholder="NameAR" class="form-control" ng-model="NameAR" id="NameAR" required="required">
                                    @*<input type="text" name="basic" class="form-control" required="required" placeholder="Text input validation">*@
                                </div>
                            </div>
                        </div>


                    </fieldset>
                </div>
            </div>


            <div class="text-right">
                <div class="text-left">
                    <span ng-model="errormessage" style="color: red;" ng-bind="errormessage"></span>
                </div>
                <button type="submit" class="btn btn-primary" id="btncancel" ng-click="CancelCity()">Cancel </button>
                <button type="submit" class="btn btn-primary" id="btnsave" ng-click="SubmitCity()">Submit <i class="icon-arrow-right14 position-right"></i></button>
                <button type="submit" class="btn btn-primary" id="btnupdate" ng-click="UpdateCity()">Update <i class="icon-arrow-right14 position-right"></i></button>

            </div>

        </div>
    </div>


    <div class="panel panel-flat">
        <div class="panel-body">

            <div class=" border-ra div-bg-pd">
                <table ng-table="tableParams  " class="table  datatable-basic dataTable no-footer" show-filter="true">
                    <tr ng-repeat="zm in data">

                        <td data-title="'#'" style="text-align: center" width="4" ng-bind="$index+1"></td>
                        <td data-title="'CityCode'" filter="{ CityCode: 'text'}" sortable="'CityCode'" ng-bind="zm.CityCode" nowrap></td>
                        <td data-title="'Name'" filter="{ Name: 'text'}" sortable="'Name'" ng-bind="zm.Name" nowrap></td>
                        <td data-title="'NameAR'" filter="{ NameAR: 'text'}" sortable="'NameAR'" ng-bind="zm.NameAR" nowrap></td>
                        <td data-title="'Action'" class="tbl-controls" nowrap>
                            <a class="btn btn-xs btn-primary btn-rad" ng-click="EditCity(zm)" data-toggle="modal" data-target="#myModal">Edit</a>
                            <a class="btn btn-xs btn-primary btn-rad" ng-click="DeleteCity(zm.CityID)">Delete</a>
                        </td>
                    </tr>
                    <tr ng-show="tableParams.total() == 0">
                        <td colspan="12">
                            No data.
                        </td>
                    </tr>

                </table>
            </div>
        </div>
    </div>

</div>

