﻿
@{
    Layout = null;
}

<script src="~/lib/angular/angular.min.js"></script>
<script src="~/ngScript/Module.js"></script>
<script src="~/lib/ng-table/ng-table.min.js"></script>
<script src="~/ngScript/Login/LoginController.js"></script>
<!DOCTYPE html>
<html lang="en" ng-app="POSWEB">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Limitless - Responsive Web Application Kit by Eugene Kopyov</title>
    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="~/content/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="~/content/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="~/content/assets/css/core.css" rel="stylesheet" type="text/css">
    <link href="~/content/assets/css/components.css" rel="stylesheet" type="text/css">
    <link href="~/content/assets/css/colors.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->
    <!-- Core JS files -->
    <script type="text/javascript" src="~/content/assets/js/plugins/loaders/pace.min.js"></script>
    <script type="text/javascript" src="~/content/assets/js/core/libraries/jquery.min.js"></script>
    <script type="text/javascript" src="~/content/assets/js/core/libraries/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/content/assets/js/plugins/loaders/blockui.min.js"></script>
    <!-- /core JS files -->
    <!-- Theme JS files -->
    <script type="text/javascript" src="~/content/assets/js/core/app.js"></script>
    <script type="text/javascript" src="~/content/assets/js/plugins/ui/ripple.min.js"></script>
    <!-- /theme JS files -->
</head>
<body class="login-container" ng-controller="LoginController">
    <!-- Main navbar -->
    <div class="navbar navbar-inverse bg-indigo">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html"><img src="~/assets/images/logo_light.png" alt=""></a>
            <ul class="nav navbar-nav pull-right visible-xs-block">
                <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
            </ul>
        </div>
        <div class="navbar-collapse collapse" id="navbar-mobile">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#">
                        <i class="icon-display4"></i> <span class="visible-xs-inline-block position-right"> Go to website</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-user-tie"></i> <span class="visible-xs-inline-block position-right"> Contact admin</span>
                    </a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-cog3"></i>
                        <span class="visible-xs-inline-block position-right"> Options</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /main navbar -->
    <!-- Page container -->
    <div class="page-container">
        <!-- Page content -->
        <div class="page-content">
            <!-- Main content -->
            <div class="content-wrapper">
                <!-- Content area -->
                <div class="content">
                    <!-- Simple login form -->
                    <form>
                          <div class="panel panel-body login-form">
                              <div class="text-center">
                                  <div class="icon-object border-slate-300 text-slate-300"><i class="icon-reading"></i></div>
                                  <h5 class="content-group">Login to your account <small class="display-block">Enter your credentials below</small></h5>
                              </div>
                              
                              <div class="form-group has-feedback has-feedback-left">
                                  <input type="text" class="form-control" placeholder="Username" id="username" ng-model="username">
                                  <div class="form-control-feedback">
                                      <i class="icon-user text-muted"></i>
                                  </div>
                              </div>
                              <div class="form-group has-feedback has-feedback-left">
                                  <input type="password" class="form-control" placeholder="Password" id="password" ng-model="password">
                                  <div class="form-control-feedback">
                                      <i class="icon-lock2 text-muted"></i>
                                  </div>
                              </div>
                              <div class="form-group">
                                  <button type="submit" class="btn bg-pink-400 btn-block" ng-click="Login()">Sign in <i class="icon-circle-right2 position-right"></i></button>
                              </div>
                              <div class="text-center">
                                  <a href="login_password_recover.html">Forgot password?</a>
                              </div>
                          </div>
                    </form>
                    <!-- /simple login form -->
                    <!-- Footer -->
                    <div class="footer text-muted text-center">
                        © 2017. Easy POS by <a href="http://scitsp.com" target="_blank">SoftClick</a>
                    </div>
                    <!-- /footer -->
                </div>
                <!-- /content area -->
            </div>
            <!-- /main content -->
        </div>
        <!-- /page content -->
    </div>
    <!-- /page container -->
</body>
</html>


