﻿
@{
    ViewBag.Title = "CustomerSummaryReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/ngScript/CustomerSummaryReport/CustomerSummaryReportController.js"></script>
<div ng-controller="CustomerSummaryReportController">
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h6 class="panel-title">Customer Summary Report<a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>
        </div>

        <div class="panel-body">

            <div class="panel panel-flat">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <fieldset>
                                <div class="row">
                                    <div class="col-md-3">
                                        <label>From Date:</label>
                                        <input type="text" class="form-control pickadate" placeholder="Select Date" ng-model="fromdate" readonly />
                                    </div>
                                    <div class="col-md-3">
                                        <label>To Date:</label>
                                        <input type="text" class="form-control pickadate" placeholder="Select Date" ng-model="todate" readonly />
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>

                    <div class="text-right">
                        <button type="submit" class="btn btn-primary" id="btnsave" ng-click="CustomerSummary()">Show <i class="icon-arrow-right14 position-right"></i></button>
                    </div>
                </div>
            </div>

            <!-- Simple pie chart -->
            <div class="panel panel-flat">
                <div class="panel-heading">
                    <h5 class="panel-title">Pie chart</h5>
                    <div class="heading-elements">
                        <ul class="icons-list">
                            <li><a data-action="collapse"></a></li>
                            <li><a data-action="reload"></a></li>
                            <li><a data-action="close"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="chart-container text-center">
                        <div class="display-inline-block" id="google-pie"></div>
                    </div>
                </div>
            </div>
            <!-- /simple pie chart -->
            <div class="panel panel-flat">
                <div class="panel-body">
                    <div class=" border-ra div-bg-pd">
                        <table ng-table="tableParams " class="table  datatable-basic dataTable" show-filter="true">
                            <tr ng-repeat="zm in data ">
                                <td data-title="'#'" style="text-align: center" width="4" ng-bind="$index+1"></td>
                                <td data-title="'Short Name'" filter="{ ShortName: 'text'}" sortable="'ShortName'" ng-bind="zm.ShortName" nowrap></td>
                                <td data-title="'Customer Type'" filter="{ CustType: 'text'}" sortable="'CustType'" ng-bind="zm.CustType"></td>
                                <td data-title="'Email'"  ng-bind="zm.Email" nowrap></td>
                                <td data-title="'Mobile'"  ng-bind="zm.Mobile" nowrap></td>
                                <td data-title="'SubTotal'"  ng-bind="zm.SubTotal" nowrap></td>
                                <td data-title="'Tax'"  ng-bind="zm.Tax" nowrap></td>
                                <td data-title="'TotalPay'"  sortable="'TotalPay'" ng-bind="zm.TotalPay" nowrap></td>
                            </tr>
                            <tr ng-show="tableParams.total() == 0">
                                <td colspan="12">
                                    No data.
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

