﻿
@{
    ViewBag.Title = "Comapany";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/ngScript/Comapany/ComapanyController.js"></script>
<div ng-controller="ComapanyController">

    <div class="row">
        <div class="col-md-6">
            <label><h1>Comapany Details</h1></label>
            <div class="text-left">
                <button type="submit" class="btn btn-primary" ng-click="AddComapany()">Add New Comapany </button>

                <div class="alert alert-success no-border" id="successdiv" ng-hide="success">
                    <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                    <span class="text-semibold">Well done!</span> You successfully save <a href="#" class="alert-link">this data</a>
                </div>
                <div class="alert alert-success no-border" id="successdiv" ng-hide="delete">
                    <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                    <span class="text-semibold">Well done!</span> You successfully delete <a href="#" class="alert-link">this data</a>
                </div>
                <div class="alert alert-danger no-border" id="errordiv" ng-hide="error">
                    <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                    <span class="text-semibold">Oh snap!</span> <a href="#" class="alert-link">try Try again</a>.
                </div>
                <div class="alert alert-danger no-border" id="errordiv" ng-hide="listerror">
                    <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                    <span class="text-semibold">Oh snap!</span> error in getting list <a href="#" class="alert-link">try refresh again</a>.
                </div>
            </div>
        </div>

    </div>

    <div class="panel panel-flat">
        <div class="panel-body" ng-hide="panel">

            <div class="row">
                <div class="col-md-12">
                    <fieldset>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Comapany Name <span class="text-danger">*</span> :</label>
                                    <input type="text" name="Name" placeholder="Comapany Name" class="form-control" ng-model="Name" id="Name" required="required">
                                    @*<input type="text" name="basic" class="form-control" required="required" placeholder="Text input validation">*@
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>NameAR <span class="text-danger">*</span> :</label>
                                    <input type="text" placeholder="NameAR" class="form-control" ng-model="NameAR" id="NameAR">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Area <span class="text-danger">*</span> :</label>
                                    <input type="text" placeholder="Area" class="form-control" ng-model="Area" id="Area">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>LandMark :</label>
                                    <input type="text" placeholder="LandMark" class="form-control" ng-model="LandMark" id="LandMark">
                                </div>
                            </div>                            
                        </div>


                    </fieldset>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <fieldset>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>District <span class="text-danger">*</span> :</label>
                                    <input type="text" placeholder="District" class="form-control" ng-model="District" id="District">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>City <span class="text-danger">*</span> :</label>
                                    <select class=" form-control" ng-model="CityID" id="CityID" name="CityID"
                                            ng-options="item.CityID as item.Name for item in CityList">
                                        <option value="">Select City</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Country <span class="text-danger">*</span> :</label>
                                    <select class=" form-control" ng-model="CountryID" id="CountryID" name="CountryID"
                                            ng-options="item.CountryID as item.Name for item in CountryList">
                                        <option value="">Select Country</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Phone :</label>
                                    <input type="text" placeholder="Phone" class="form-control" ng-model="Phone" id="Phone">
                                </div>
                            </div>                            
                        </div>


                    </fieldset>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <fieldset>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Fax  :</label>
                                    <input type="text" placeholder="Fax" class="form-control" ng-model="Fax" id="Fax">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>ContactPerson :</label>
                                    <input type="text" placeholder="ContactPerson" class="form-control" ng-model="ContactPerson" id="ContactPerson">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Mobile :</label>
                                    <input type="text" placeholder="Mobile" class="form-control" ng-model="Mobile" id="Mobile">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Email  :</label>
                                    <input type="text" placeholder="email" class="form-control" ng-model="email" id="email">
                                </div>
                            </div>                            
                        </div>


                    </fieldset>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <fieldset>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>website  :</label>
                                    <input type="text" placeholder="website" class="form-control" ng-model="website" id="website">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Registered  :</label>
                                    <input type="text" placeholder="Registered" class="form-control" ng-model="Registered" id="Registered">
                                </div>
                            </div>                            
                        </div>


                    </fieldset>
                </div>
            </div>


            <div class="text-right">
                <div class="text-left">
                    <span ng-model="errormessage" style="color: red;" ng-bind="errormessage"></span>
                </div>
                <button type="submit" class="btn btn-primary" id="btncancel" ng-click="CancelComapany()">Cancel </button>
                <button type="submit" class="btn btn-primary" id="btnsave" ng-click="SubmitComapany()">Submit <i class="icon-arrow-right14 position-right"></i></button>
                <button type="submit" class="btn btn-primary" id="btnupdate" ng-click="UpdateComapany()">Update <i class="icon-arrow-right14 position-right"></i></button>

            </div>

        </div>
    </div>


    <div class="panel panel-flat">
        <div class="panel-body">

            <div class=" border-ra div-bg-pd">
                <table ng-table="tableParams  " class="table  datatable-basic dataTable no-footer" show-filter="true">
                    <tr ng-repeat="zm in data">

                        <td data-title="'#'" style="text-align: center" width="4" ng-bind="$index+1"></td>
                        <td data-title="'Name'" filter="{ Name: 'text'}" sortable="'Name'" ng-bind="zm.Name" nowrap></td>
                        <td data-title="'Area'" filter="{ Area: 'text'}" sortable="'Area'" ng-bind="zm.Area"></td>
                        <td data-title="'District'" filter="{ District: 'text'}" sortable="'District'" ng-bind="zm.District" nowrap></td>
                        <td data-title="'Mobile'" filter="{ Mobile: 'text'}" sortable="'Mobile'" ng-bind="zm.Mobile" nowrap></td>
                        <td data-title="'City'" filter="{ CityName: 'text'}" sortable="'CityName'" ng-bind="zm.CityName" nowrap></td>
                        <td data-title="'Country'" filter="{ CountryName: 'text'}" sortable="'CountryName'" ng-bind="zm.CountryName" nowrap></td>
                        <td data-title="'Action'" class="tbl-controls" nowrap>
                            <a class="btn btn-xs btn-primary btn-rad" ng-click="EditComapany(zm)" data-toggle="modal" data-target="#myModal">Edit</a>
                            @*<a class="btn btn-xs btn-primary btn-rad" ng-click="DeleteComapany(zm.BranchID)">Delete</a>*@
                        </td>
                    </tr>
                    <tr ng-show="tableParams.total() == 0">
                        <td colspan="12">
                            No data.
                        </td>
                    </tr>

                </table>
            </div>
        </div>
    </div>

</div>
