﻿
@{
    ViewBag.Title = "Group";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/ngScript/Group/GroupController.js"></script>
<div ng-controller="GroupController">

    <div class="row">
        <div class="col-md-6">
            <label><h1>Group Details</h1></label>
            <div class="text-left">
                <button type="submit" class="btn btn-primary" ng-click="AddGroup()">Add New Group </button>

                <div class="alert alert-success no-border" id="successdiv" ng-hide="success">
                    <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                    <span class="text-semibold">Well done!</span> You successfully save <a href="#" class="alert-link">this data</a>
                </div>
                <div class="alert alert-success no-border" id="successdiv" ng-hide="delete">
                    <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                    <span class="text-semibold">Well done!</span> You successfully delete <a href="#" class="alert-link">this data</a>
                </div>
                <div class="alert alert-danger no-border" id="errordiv" ng-hide="error">
                    <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                    <span class="text-semibold">Oh snap!</span> <a href="#" class="alert-link">try Try again</a>.
                </div>
                <div class="alert alert-danger no-border" id="errordiv" ng-hide="listerror">
                    <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                    <span class="text-semibold">Oh snap!</span> error in getting list <a href="#" class="alert-link">try refresh again</a>.
                </div>
            </div>
        </div>

    </div>

    <div class="panel panel-flat">
        <div class="panel-body" ng-hide="panel">

            <div class="row">
                <div class="col-md-12">
                    <fieldset>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Group Code <span class="text-danger">*</span> :</label>
                                    <input type="text" name="GroupCode" placeholder="GroupCode" class="form-control" ng-model="GroupCode" id="GroupCode" required="required">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Description <span class="text-danger">*</span> :</label>
                                    <input type="text" name="Description" placeholder="Description" class="form-control" ng-model="Description" id="Description" required="required">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>DescriptionAR <span class="text-danger">*</span> :</label>
                                    <input type="text" name="DescriptionAR" placeholder="DescriptionAR" class="form-control" ng-model="DescriptionAR" id="DescriptionAR" required="required">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Note :</label>
                                    <input type="text" name="Note" placeholder="Note" class="form-control" ng-model="Note" id="Note" required="required">
                                </div>
                            </div>
                        </div>


                    </fieldset>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <fieldset>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>GUID  :</label>
                                    <input type="text" name="GUID" placeholder="GUID" class="form-control" ng-model="GUID" id="GUID" required="required">
                                </div>
                            </div>                           
                        </div>


                    </fieldset>
                </div>
            </div>

            <div class="text-right">
                <div class="text-left">
                    <span ng-model="errormessage" style="color: red;" ng-bind="errormessage"></span>
                </div>
                <button type="submit" class="btn btn-primary" id="btncancel" ng-click="CancelGroup()">Cancel </button>
                <button type="submit" class="btn btn-primary" id="btnsave" ng-click="SubmitGroup()">Submit <i class="icon-arrow-right14 position-right"></i></button>
                <button type="submit" class="btn btn-primary" id="btnupdate" ng-click="UpdateGroup()">Update <i class="icon-arrow-right14 position-right"></i></button>

            </div>

        </div>
    </div>


    <div class="panel panel-flat">
        <div class="panel-body">

            <div class=" border-ra div-bg-pd">
                <table ng-table="tableParams  " class="table  datatable-basic dataTable no-footer" show-filter="true">
                    <tr ng-repeat="zm in data">

                        <td data-title="'#'" style="text-align: center" width="4" ng-bind="$index+1"></td>
                        <td data-title="'Code'" filter="{ Code: 'text'}" sortable="'Code'" ng-bind="zm.Code" nowrap></td>
                        <td data-title="'Description'" filter="{ Description: 'text'}" sortable="'Description'" ng-bind="zm.Description" nowrap></td>
                        <td data-title="'DescriptionAR'" filter="{ DescriptionAR: 'text'}" sortable="'DescriptionAR'" ng-bind="zm.DescriptionAR" nowrap></td>
                        <td data-title="'Note'" filter="{ Note: 'text'}" sortable="'Note'" ng-bind="zm.Note" nowrap></td>
                        <td data-title="'GUID'" filter="{ GUID: 'text'}" sortable="'GUID'" ng-bind="zm.GUID" nowrap></td>
                        <td data-title="'Action'" class="tbl-controls" nowrap>
                            <a class="btn btn-xs btn-primary btn-rad" ng-click="EditGroup(zm)" data-toggle="modal" data-target="#myModal">Edit</a>
                            <a class="btn btn-xs btn-primary btn-rad" ng-click="DeleteGroup(zm.GroupID)">Delete</a>
                        </td>
                    </tr>
                    <tr ng-show="tableParams.total() == 0">
                        <td colspan="12">
                            No data.
                        </td>
                    </tr>

                </table>
            </div>
        </div>
    </div>

</div>

