﻿
@{
    ViewBag.Title = "Branch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/ngScript/Branch/BranchController.js"></script>
<div ng-controller="BranchController">

    <div class="row">
        <div class="col-md-6">
            <label><h1>Branch Details</h1></label>
            <div class="text-left">
                <button type="submit" class="btn btn-primary" ng-click="AddBranch()">Add New Branch </button>

                <div class="alert alert-success no-border" id="successdiv" ng-hide="success">
                    <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                    <span class="text-semibold">Well done!</span> You successfully save <a href="#" class="alert-link">this data</a>
                </div>
                <div class="alert alert-success no-border" id="successdiv" ng-hide="delete">
                    <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                    <span class="text-semibold">Well done!</span> You successfully delete <a href="#" class="alert-link">this data</a>
                </div>
                <div class="alert alert-danger no-border" id="errordiv" ng-hide="error">
                    <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                    <span class="text-semibold">Oh snap!</span> <a href="#" class="alert-link">try Try again</a>.
                </div>
                <div class="alert alert-danger no-border" id="errordiv" ng-hide="listerror">
                    <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                    <span class="text-semibold">Oh snap!</span> error in getting list <a href="#" class="alert-link">try refresh again</a>.
                </div>
            </div>
        </div>
       
        </div>
   
        <div class="panel panel-flat">
            <div class="panel-body" ng-hide="panel">

                <div class="row">
                    <div class="col-md-12">
                        <fieldset>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Branch Name <span class="text-danger">*</span> :</label>
                                        <input type="text" name="BranchName" placeholder="Branch Name" class="form-control" ng-model="BranchName" id="BranchName" ng-required="true">
                                        @*<input type="text" name="basic" class="form-control" required="required" placeholder="Text input validation">*@
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Address <span class="text-danger">*</span> :</label>
                                        <input type="text" placeholder="Address" class="form-control" ng-model="Address" id="Address">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>District <span class="text-danger">*</span> :</label>
                                        <input type="text" placeholder="District" class="form-control" ng-model="District" id="District">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>City <span class="text-danger">*</span> :</label>
                                        <select class=" form-control" ng-model="CityID" id="CityID" name="CityID"
                                                ng-options="item.CityID as item.Name for item in CityList">
                                            <option value="">Select City</option>
                                        </select>
                                    </div>
                                </div>
                            </div>


                        </fieldset>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <fieldset>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Region <span class="text-danger">*</span> :</label>
                                        <input type="text" placeholder="Region" class="form-control" ng-model="Region" id="Region">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Country <span class="text-danger">*</span> :</label>
                                        <select class=" form-control" ng-model="CountryID" id="CountryID" name="CountryID"
                                                ng-options="item.CountryID as item.Name for item in CountryList">
                                            <option value="">Select Country</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Phone <span class="text-danger">*</span> :</label>
                                        <input type="text" placeholder="Phone" class="form-control" ng-model="Phone" id="Phone">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Fax <span class="text-danger">*</span> :</label>
                                        <input type="text" placeholder="Fax" class="form-control" ng-model="Fax" id="Fax">
                                    </div>
                                </div>
                            </div>


                        </fieldset>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <fieldset>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>ContactPerson <span class="text-danger">*</span> :</label>
                                        <input type="text" placeholder="ContactPerson" class="form-control" ng-model="ContactPerson" id="ContactPerson">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Mobile <span class="text-danger">*</span> :</label>
                                        <input type="text" placeholder="Mobile" class="form-control" ng-model="Mobile" id="Mobile">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Email <span class="text-danger">*</span> :</label>
                                        <input type="text" placeholder="email" class="form-control" ng-model="email" id="email">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>GPS Location <span class="text-danger">*</span> :</label>
                                        <input type="text" placeholder="GPS_Location" class="form-control" ng-model="GPS_Location" id="GPS_Location">
                                    </div>
                                </div>
                            </div>


                        </fieldset>
                    </div>
                </div>


                <div class="text-right"> 
                    <div class="text-left">
                        <span ng-model="errormessage" style="color: red;" ng-bind="errormessage"></span>
                    </div>
                    <button type="submit" class="btn btn-primary" id="btncancel" ng-click="CancelBranch()">Cancel </button>
                    <button type="submit" class="btn btn-primary" id="btnsave" ng-click="SubmitBranch()">Submit <i class="icon-arrow-right14 position-right"></i></button>
                    <button type="submit" class="btn btn-primary" id="btnupdate" ng-click="UpdateBranch()">Update <i class="icon-arrow-right14 position-right"></i></button>

                </div>

            </div>
        </div>
  

    <div class="panel panel-flat">
        <div class="panel-body">

            <div class=" border-ra div-bg-pd">
                <table ng-table="tableParams  " class="table  datatable-basic dataTable no-footer" show-filter="true">
                    <tr ng-repeat="zm in data">

                        <td data-title="'#'" style="text-align: center" width="4" ng-bind="$index+1"></td>
                        <td data-title="'Branch Name'" filter="{ BranchName: 'text'}" sortable="'BranchName'" ng-bind="zm.BranchName" nowrap></td>
                        <td data-title="'Address'" filter="{ Address: 'text'}" sortable="'Address'" ng-bind="zm.Address" ></td>
                        <td data-title="'Email'" filter="{ email: 'text'}" sortable="'email'" ng-bind="zm.email" nowrap></td>
                        <td data-title="'Mobile'" filter="{ Mobile: 'text'}" sortable="'Mobile'" ng-bind="zm.Mobile" nowrap></td>
                        <td data-title="'Contact Person'" filter="{ ContactPerson: 'text'}" sortable="'ContactPerson'" ng-bind="zm.ContactPerson" nowrap></td>
                        <td data-title="'Region'" filter="{ Region: 'text'}" sortable="'Region'" ng-bind="zm.Region" nowrap></td>
                        <td data-title="'Action'" class="tbl-controls" nowrap>
                            <a class="btn btn-xs btn-primary btn-rad" ng-click="EditBranch(zm)" data-toggle="modal" data-target="#myModal">Edit</a>
                            <a class="btn btn-xs btn-primary btn-rad" ng-click="DeleteBranch(zm.BranchID)">Delete</a>
                        </td>
                    </tr>
                    <tr ng-show="tableParams.total() == 0">
                        <td colspan="12">
                            No data.
                        </td>
                    </tr>

                </table>
            </div>
            </div>
        </div>

  </div>


