﻿
@{
    ViewBag.Title = "SalesReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/ngScript/SalesReport/SalesReportController.js"></script>
<div ng-controller="SalesReportController">
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h6 class="panel-title">Sale Analysis<a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>
            @*<div class="heading-elements">
                <ul class="icons-list">
                    <li><a data-action="collapse"></a></li>
                    <li><a data-action="close"></a></li>
                </ul>
            </div>*@
           
        </div>

        <div class="panel-body">
            <div class="tabbable">
                <ul class="nav nav-tabs nav-tabs-bottom">
                    <li class="active"><a href="#bottom-tab1" data-toggle="tab" class="legitRipple">Sale Summary</a></li>
                    <li><a href="#bottom-tab2" data-toggle="tab" class="legitRipple" ng-click="DayWise()">Day Wise Sale</a></li>
                    <li><a href="#bottom-tab3" data-toggle="tab" class="legitRipple" ng-click="AllProduct()">All Product</a></li>
                    <li><a href="#bottom-tab4" data-toggle="tab" class="legitRipple" ng-click="OrderHistory()">Order History</a></li>
                    <li><a href="#bottom-tab5" data-toggle="tab" class="legitRipple" ng-click="PaymentSummary()">Payment Summary</a></li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active" id="bottom-tab1">
                        <div class="row">
                            <div class="col-md-12">
                                <fieldset>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label>Year:</label>
                                            <select ng-model="curryear" id="curryear" name="curryear">
                                                <option value="0">Select Year</option>
                                                <option value="2017"> 2017 </option>
                                                <option value="2018"> 2018 </option>
                                                <option value="2019"> 2019 </option>
                                                <option value="2020"> 2020 </option>
                                                <option value="2021"> 2021 </option>
                                            </select>
                                            <button type="submit" class="btn btn-primary" id="SaleSummary" ng-click="SaleSummary()">Show </button>
                                        </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                                        <!-- Simple line chart -->
                                        <div class="panel panel-flat">
                                            <div class="panel-heading">
                                                <h5 class="panel-title">Simple Month Wise line chart<a class="heading-elements-toggle"><i class="icon-more"></i></a></h5>
                                                <div class="heading-elements">
                                                    <ul class="icons-list">
                                                        <li><a data-action="collapse"></a></li>
                                                        <li><a data-action="close"></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="panel-body">
                                                <div class="chart-container">
                                                    <div class="chart" id="google-line"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /simple line chart -->

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="panel panel-body">
                                                    <table class="table">
                                                        <tbody>
                                                            <tr>
                                                                <td>Taxable Sales</td>
                                                                <td ng-bind="tabxablesales"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>Non Taxesable Sales</td>
                                                                <td ng-bind="nontaxablesales"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>Total Product  Sales</td>
                                                                <td ng-bind="totalproductsales"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>Item Discount</td>
                                                                <td ng-bind="itemdiscount"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>Net  Sales</td>
                                                                <td ng-bind="netsales"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                <div class="panel panel-body ">
                                                    <table class="table">
                                                        <tr>
                                                            <th colspan="3" class="active" align="center">Current Transaction Status</th>
                                                        </tr>
                                                        <tr>
                                                            <td>Accepted</td>
                                                            <td ng-bind="accepted"></td>
                                                            <td ng-bind="acceptedamt"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Hold</td>
                                                            <td ng-bind="hold"></td>
                                                            <td ng-bind="holdamt"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Return</td>
                                                            <td ng-bind="return"></td>
                                                            <td ng-bind="returnamt"></td>
                                                        </tr>

                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                    </div>

                    <div class="tab-pane" id="bottom-tab2">
                        <div class="row">
                            <div class="col-md-12">
                                <fieldset>
                                    <div class="row">
                                        <div class="col-md-3"> 
                                            <label>Select Month & Year:</label>
                                        </div>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control pickadate" placeholder="Select Date" ng-model="monthyear" readonly />
                                        </div>
                                        <div class="col-md-3">
                                            <button type="submit" class="btn btn-primary" id="SaleSummary1" ng-click="DayWise()">Show </button>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <!-- Simple line chart -->
                        <div class="panel panel-flat">
                            <div class="panel-heading">
                                <h5 class="panel-title">Simple Day Wise line chart<a class="heading-elements-toggle"><i class="icon-more"></i></a></h5>
                                <div class="heading-elements">
                                    <ul class="icons-list">
                                        <li><a data-action="collapse"></a></li>
                                        <li><a data-action="close"></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="chart-container">
                                    <div class="chart" id="google-line_day"></div>
                                </div>
                            </div>
                        </div>
                        <!-- /simple line chart -->
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="panel panel-body">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td>Taxable Sales</td>
                                                <td ng-bind="dtabxablesales"></td>
                                            </tr>
                                            <tr>
                                                <td>Non Taxesable Sales</td>
                                                <td ng-bind="dnontaxablesales"></td>
                                            </tr>
                                            <tr>
                                                <td>Total Product  Sales</td>
                                                <td ng-bind="dtotalproductsales"></td>
                                            </tr>
                                            <tr>
                                                <td>Item Discount</td>
                                                <td ng-bind="ditemdiscount"></td>
                                            </tr>
                                            <tr>
                                                <td>Net  Sales</td>
                                                <td ng-bind="dnetsales"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="panel panel-body ">
                                    <table class="table">
                                        <tr>
                                            <th colspan="3" class="active" align="center">Current Transaction Status</th>
                                        </tr>
                                        <tr>
                                            <td>Accepted</td>
                                            <td ng-bind="daccepted"></td>
                                            <td ng-bind="dacceptedamt"></td>
                                        </tr>
                                        <tr>
                                            <td>Hold</td>
                                            <td ng-bind="dhold"></td>
                                            <td ng-bind="dholdamt"></td>
                                        </tr>
                                        <tr>
                                            <td>Return</td>
                                            <td ng-bind="dreturn"></td>
                                            <td ng-bind="dreturnamt"></td>
                                        </tr>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" id="bottom-tab3">
                        <div class="panel panel-flat">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <fieldset>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <label>Select Month & Year:</label>                                               
                                                    <input type="text" class="form-control pickadate" placeholder="Select Date" ng-model="crmonthyear" readonly />
                                                </div>
                                                
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <fieldset>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>Brand <span class="text-danger">*</span> :</label>
                                                        <select class=" form-control" ng-model="BrandID" id="BrandID" name="BrandID"
                                                                ng-options="item.BrandID as item.Description for item in BrandList">
                                                            <option value="">Select Brand</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>Category <span class="text-danger">*</span> :</label>
                                                        <select class=" form-control" ng-model="CategoryID" id="CategoryID" name="CategoryID"
                                                              ng-change="GetSubCategoryList()"  ng-options="item.CategoryID as item.Description for item in CategoryList">
                                                            <option value="">Select Category</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>Sub Category <span class="text-danger">*</span> :</label>
                                                        <select class=" form-control" ng-model="SubCategoryID" id="SubCategoryID" name="SubCategoryID"
                                                                ng-options="item.SubCategoryID as item.Description for item in SubCategoryList">
                                                            <option value="">Select Product</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>Group <span class="text-danger">*</span> :</label>
                                                        <select class=" form-control" ng-model="GroupID" id="GroupID" name="GroupID"
                                                                ng-options="item.GroupID as item.Description for item in GroupList">
                                                            <option value="">Select Group</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>   
                                
                                <div class="text-right">                                    
                                    <button type="submit" class="btn btn-primary" id="btnsave" ng-click="ShowAllProduct()">Show <i class="icon-arrow-right14 position-right"></i></button>
                                </div>
                            </div>
                        </div>

                        <!-- Simple line chart -->
                        <div class="panel panel-flat">
                            <div class="panel-heading">
                                <h5 class="panel-title">Simple Product Wise Column chart<a class="heading-elements-toggle"><i class="icon-more"></i></a></h5>
                                <div class="heading-elements">
                                    <ul class="icons-list">
                                        <li><a data-action="collapse"></a></li>
                                        <li><a data-action="close"></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="chart-container">
                                    <div class="chart" id="google-line_allproduct"></div>
                                </div>
                            </div>
                        </div>
                        <!-- /simple line chart -->
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="panel panel-body">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td>Taxable Sales</td>
                                                <td ng-bind="alltabxablesales"></td>
                                            </tr>
                                            <tr>
                                                <td>Non Taxesable Sales</td>
                                                <td ng-bind="allnontaxablesales"></td>
                                            </tr>
                                            <tr>
                                                <td>Total Product  Sales</td>
                                                <td ng-bind="alltotalproductsales"></td>
                                            </tr>
                                            <tr>
                                                <td>Item Discount</td>
                                                <td ng-bind="allitemdiscount"></td>
                                            </tr>
                                            <tr>
                                                <td>Net  Sales</td>
                                                <td ng-bind="allnetsales"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" id="bottom-tab4">
                        <div class="row">
                            <div class="col-md-12">
                                <fieldset>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label>Select Month & Year:</label>
                                        </div>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control pickadate" placeholder="Select Date" ng-model="historymonth" readonly />
                                        </div>
                                        <div class="col-md-3">
                                            <button type="submit" class="btn btn-primary" id="SaleSummary1" ng-click="OrderHistory()">Show </button>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <!-- Simple line chart -->
                        <div class="panel panel-flat">
                            <div class="panel-heading">
                                <h5 class="panel-title">Simple Order History line chart<a class="heading-elements-toggle"><i class="icon-more"></i></a></h5>
                                <div class="heading-elements">
                                    <ul class="icons-list">
                                        <li><a data-action="collapse"></a></li>
                                        <li><a data-action="close"></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="chart-container">
                                    <div class="chart" id="google-line_orderhistory"></div>
                                </div>
                            </div>
                        </div>
                        <!-- /simple line chart -->
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="panel panel-body">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td>Taxable Order</td>
                                                <td ng-bind="ohtabxablesales"></td>
                                            </tr>
                                            <tr>
                                                <td>Non Taxesable Order</td>
                                                <td ng-bind="ohnontaxablesales"></td>
                                            </tr>
                                            <tr>
                                                <td>Total Product  Order</td>
                                                <td ng-bind="ohtotalproductsales"></td>
                                            </tr>
                                            <tr>
                                                <td>Item Discount</td>
                                                <td ng-bind="ohitemdiscount"></td>
                                            </tr>
                                            <tr>
                                                <td>Net  Order</td>
                                                <td ng-bind="ohnetsales"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="panel panel-body ">
                                    <table class="table">
                                        <tr>
                                            <th colspan="3" class="active" align="center">Current Transaction Status</th>
                                        </tr>
                                        <tr>
                                            <td>Accepted</td>
                                            <td ng-bind="ohaccepted"></td>
                                            <td ng-bind="ohacceptedamt"></td>
                                        </tr>
                                        <tr>
                                            <td>Not Accepted</td>
                                            <td ng-bind="ohhold"></td>
                                            <td ng-bind="ohholdamt"></td>
                                        </tr>
                                        <tr style="display:none">
                                            <td>Return</td>
                                            <td ng-bind="ohreturn"></td>
                                            <td ng-bind="ohreturnamt"></td>
                                        </tr>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" id="bottom-tab5">
                        <div class="panel panel-flat">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <fieldset>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <label>From Date:</label>
                                                    <input type="text" class="form-control pickadate" placeholder="Select Date" ng-model="fromdate" id="from" readonly />
                                                </div>
                                                <div class="col-md-3">
                                                    <label>To Date:</label>
                                                    <input type="text" class="form-control pickadate" placeholder="Select Date" ng-model="todate" id="to" readonly />
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>

                                <div class="text-right">
                                    <button type="submit" class="btn btn-primary" id="btnsave" ng-click="PaymentSummary()">Show <i class="icon-arrow-right14 position-right"></i></button>
                                </div>
                            </div>
                        </div>

                        <!-- Simple Bar chart -->
                        <div class="panel panel-flat">
                            <div class="panel-heading">
                                <h5 class="panel-title">Simple Payment Wise Column chart<a class="heading-elements-toggle"><i class="icon-more"></i></a></h5>
                                <div class="heading-elements">
                                    <ul class="icons-list">
                                        <li><a data-action="collapse"></a></li>
                                        <li><a data-action="close"></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="chart-container">
                                    <div class="chart" id="google-line_paymentsummary"></div>
                                </div>
                            </div>
                        </div>
                        <!-- /simple Bar chart -->                      
                    </div>
                  </div>
            </div>
       </div>
    </div>
</div>


