﻿
@{
    ViewBag.Title = "Terminal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/ngScript/Terminal/TerminalController.js"></script>
<div ng-controller="TerminalController">

    <div class="row">
        <div class="col-md-6">
            <label><h1>Terminal Details</h1></label>
            <div class="text-left">
                <button type="submit" class="btn btn-primary" ng-click="AddTerminal()">Add New Terminal </button>

                <div class="alert alert-success no-border" id="successdiv" ng-hide="success">
                    <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                    <span class="text-semibold">Well done!</span> You successfully save <a href="#" class="alert-link">this data</a>
                </div>
                <div class="alert alert-success no-border" id="successdiv" ng-hide="delete">
                    <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                    <span class="text-semibold">Well done!</span> You successfully delete <a href="#" class="alert-link">this data</a>
                </div>
                <div class="alert alert-danger no-border" id="errordiv" ng-hide="error">
                    <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                    <span class="text-semibold">Oh snap!</span> <a href="#" class="alert-link">try Try again</a>.
                </div>
                <div class="alert alert-danger no-border" id="errordiv" ng-hide="listerror">
                    <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                    <span class="text-semibold">Oh snap!</span> error in getting list <a href="#" class="alert-link">try refresh again</a>.
                </div>
            </div>
        </div>

    </div>

    <div class="panel panel-flat">
        <div class="panel-body" ng-hide="panel">

            <div class="row">
                <div class="col-md-12">
                    <fieldset>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>TerminalName <span class="text-danger">*</span> :</label>
                                    <input type="text" name="TerminalName" placeholder="TerminalName" class="form-control" ng-model="TerminalName" id="TerminalName" required="required">
                                </div>
                            </div>                            
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Terminal Type <span class="text-danger">*</span> :</label>
                                    <input type="text" name="TerminalType" placeholder="TerminalType" class="form-control" ng-model="TerminalType" id="TerminalType" required="required">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Opening Balance <span class="text-danger">*</span> :</label>
                                    <input type="text" name="OpeningBalance" placeholder="OpeningBalance" class="form-control" ng-model="OpeningBalance" id="OpeningBalance" required="required">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Registered Key <span class="text-danger">*</span> :</label>
                                    <input type="text" name="Registered_Key" placeholder="Registered_Key" class="form-control" ng-model="Registered_Key" id="Registered_Key" required="required">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Select Branch <span class="text-danger">*</span> :</label>
                                    <select class="form-control" ng-model="BranchID" id="BranchID"
                                            ng-options="item.BranchID as item.BranchName for item in BranchList">
                                        <option value="">Select Branch</option>
                                        </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Registered Server <span class="text-danger">*</span> :</label>
                                    <input type="checkbox" class="form-control" ng-model="Registered_Server" id="Registered_Server">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>


            <div class="text-right">
                <div class="text-left">
                    <span ng-model="errormessage" style="color: red;" ng-bind="errormessage"></span>
                </div>
                <button type="submit" class="btn btn-primary" id="btncancel" ng-click="CancelTerminal()">Cancel </button>
                <button type="submit" class="btn btn-primary" id="btnsave" ng-click="SubmitTerminal()">Submit <i class="icon-arrow-right14 position-right"></i></button>
                <button type="submit" class="btn btn-primary" id="btnupdate" ng-click="UpdateTerminal()">Update <i class="icon-arrow-right14 position-right"></i></button>

            </div>

        </div>
    </div>


    <div class="panel panel-flat">
        <div class="panel-body">

            <div class=" border-ra div-bg-pd">
                <table ng-table="tableParams  " class="table  datatable-basic dataTable no-footer" show-filter="true">
                    <tr ng-repeat="zm in data">

                        <td data-title="'#'" style="text-align: center" width="4" ng-bind="$index+1"></td>
                        <td data-title="'Terminal Name'" filter="{ TerminalName: 'text'}" sortable="'TerminalName'" ng-bind="zm.TerminalName" nowrap></td>
                        <td data-title="'Branch Name'" filter="{ BranchName: 'text'}" sortable="'BranchName'" ng-bind="zm.BranchName" nowrap></td>
                        <td data-title="'TerminalType'" filter="{ TerminalType: 'text'}" sortable="'TerminalType'" ng-bind="zm.TerminalType" nowrap></td>
                        <td data-title="'Opening Balance'" filter="{ OpeningBalance: 'text'}" sortable="'OpeningBalance'" ng-bind="zm.OpeningBalance" nowrap></td>
                        <td data-title="'Registered Key'" filter="{ Registered_Key: 'text'}" sortable="'Registered_Key'" ng-bind="zm.Registered_Key" nowrap></td>
                        <td data-title="'Action'" class="tbl-controls" nowrap>
                            <a class="btn btn-xs btn-primary btn-rad" ng-click="EditTerminal(zm)" data-toggle="modal" data-target="#myModal">Edit</a>
                            <a class="btn btn-xs btn-primary btn-rad" ng-click="DeleteTerminal(zm.TerminalID)">Delete</a>
                        </td>
                    </tr>
                    <tr ng-show="tableParams.total() == 0">
                        <td colspan="12">
                            No data.
                        </td>
                    </tr>

                </table>
            </div>
        </div>
    </div>

</div>

