﻿
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/ngScript/Product/ProductController.js"></script>
<div ng-controller="ProductController">

    <div class="row">
        <div class="col-md-6">
            <label><h1>Product Details</h1></label>
            <div class="text-left">
                <button type="submit" class="btn btn-primary" ng-click="AddProduct()">Add New Product </button>

                <div class="alert alert-success no-border" id="successdiv" ng-hide="success">
                    <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                    <span class="text-semibold">Well done!</span> You successfully save <a href="#" class="alert-link">this data</a>
                </div>
                <div class="alert alert-success no-border" id="successdiv" ng-hide="delete">
                    <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                    <span class="text-semibold">Well done!</span> You successfully delete <a href="#" class="alert-link">this data</a>
                </div>
                <div class="alert alert-danger no-border" id="errordiv" ng-hide="error">
                    <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                    <span class="text-semibold">Oh snap!</span> <a href="#" class="alert-link">try Try again</a>.
                </div>
                <div class="alert alert-danger no-border" id="errordiv" ng-hide="listerror">
                    <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                    <span class="text-semibold">Oh snap!</span> error in getting list <a href="#" class="alert-link">try refresh again</a>.
                </div>
            </div>
        </div>

    </div>

    <div class="panel panel-flat">
        <div class="panel-body" ng-hide="panel">

            <div class="row">
                <div class="col-md-12">
                    <fieldset>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Product Type <span class="text-danger">*</span> :</label>
                                    <select class=" form-control" ng-model="ProductTypeID" id="ProductTypeID" name="ProductTypeID"
                                            ng-options="item.ProductTypeID as item.Name for item in ProductTypeList">
                                        <option value="">Select Product Type</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Description :</label>
                                    <input type="text" placeholder="Description" class="form-control" ng-model="Description" id="Description">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>DescriptionAR :</label>
                                    <input type="text" placeholder="DescriptionAR" class="form-control" ng-model="DescriptionAR" id="DescriptionAR">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>SubDescription1 :</label>
                                    <input type="text" placeholder="SubDescription1" class="form-control" ng-model="SubDescription1" id="SubDescription1">
                                </div>
                            </div>
                        </div>


                    </fieldset>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <fieldset>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>SubDescription2 :</label>
                                    <input type="text" placeholder="SubDescription2" class="form-control" ng-model="SubDescription2" id="SubDescription2">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Size :</label>
                                    <input type="text" placeholder="Size" class="form-control" ng-model="Size" id="Size">                                    
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Model  :</label>
                                    <input type="text" placeholder="Model" class="form-control" ng-model="Model" id="Model">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Cost :</label>
                                    <input type="text" placeholder="Cost" class="form-control" ng-model="Cost" id="Cost">
                                </div>
                            </div>
                        </div>


                    </fieldset>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <fieldset>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Brand <span class="text-danger">*</span> :</label>
                                    <select class=" form-control" ng-model="BrandID" id="BrandID" name="BrandID"
                                            ng-options="item.BrandID as item.Description for item in BrandList">
                                        <option value="">Select Brand</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Category <span class="text-danger">*</span> :</label>
                                    <select class=" form-control" ng-model="CategoryID" id="CategoryID" name="CategoryID"
                                            ng-options="item.CategoryID as item.Description for item in CategoryList">
                                        <option value="">Select Category</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>SubCategory <span class="text-danger">*</span> :</label>
                                    <select class=" form-control" ng-model="SubCategoryID" id="SubCategoryID" name="SubCategoryID"
                                            ng-options="item.SubCategoryID as item.Description for item in SubCategoryList">
                                        <option value="">Select SubCategory</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Group <span class="text-danger">*</span> :</label>
                                    <select class=" form-control" ng-model="GroupID" id="GroupID" name="GroupID"
                                            ng-options="item.GroupID as item.Description for item in GroupList">
                                        <option value="">Select Group</option>
                                    </select>
                                </div>
                            </div>
                        </div>


                    </fieldset>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <fieldset>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Tax <span class="text-danger">*</span> :</label>
                                    <select class=" form-control" ng-model="TaxID" id="TaxID" name="TaxID"
                                            ng-options="item.TaxID as item.Description for item in TaxesList">
                                        <option value="">Select Tax</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>BaseUnit <span class="text-danger">*</span> :</label>
                                    <select class=" form-control" ng-model="UOMID" id="UOMID" name="UOMID"
                                            ng-options="item.UOMID as item.Description for item in UOMList">
                                        <option value="">Select BaseUnit</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Note  :</label>
                                    <input type="text" placeholder="Note" class="form-control" ng-model="Note" id="Note">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>CODE  :</label>
                                    <input type="text" placeholder="CODE" class="form-control" ng-model="CODE" id="CODE">
                                </div>
                            </div>
                        </div>


                    </fieldset>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <fieldset>
                        <div class="row">                            
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Product Image :</label>                                   
                                    <input type="file" upload-files multiple id="file_upload" ng-model="files" /> 
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Show On Home Page  :</label>
                                    <input type="checkbox" class="form-control" ng-model="ShowOnHomePage" id="ShowOnHomePage">
                                </div>
                            </div>
                            <div class="col-md-3" ng-hide="pastimage">
                                <div class="form-group">
                                    <label> Previous saved Image :</label>
                                    <img src="" width="100" height="100" id="pimage">
                                </div>
                            </div>
                        </div>


                    </fieldset>
                </div>
            </div>


            <div class="text-right">
                <div class="text-left">
                    <span ng-model="errormessage" style="color: red;" ng-bind="errormessage"></span>
                </div>
                <button type="submit" class="btn btn-primary" id="btncancel" ng-click="CancelProduct()">Cancel </button>
                <button type="submit" class="btn btn-primary" id="btnsave" ng-click="SubmitProduct()">Submit <i class="icon-arrow-right14 position-right"></i></button>
                <button type="submit" class="btn btn-primary" id="btnupdate" ng-click="UpdateProduct()">Update <i class="icon-arrow-right14 position-right"></i></button>

            </div>

        </div>
    </div>


    <div class="panel panel-flat">
        <div class="panel-body">

            <div class=" border-ra div-bg-pd">
                <table ng-table="tableParams  " class="table  datatable-basic dataTable no-footer" show-filter="true">
                    <tr ng-repeat="zm in data">

                        <td data-title="'#'" style="text-align: center" width="4" ng-bind="$index+1"></td>
                        <td data-title="'Product Type'" filter="{ Name: 'text'}" sortable="'Name'" ng-bind="zm.Name" nowrap></td>
                        <td data-title="'Description'" filter="{ Description: 'text'}" sortable="'Description'" ng-bind="zm.Description"></td>
                        @*<td data-title="'DescriptionAR'" filter="{ DescriptionAR: 'text'}" sortable="'DescriptionAR'" ng-bind="zm.DescriptionAR"></td>*@
                        <td data-title="'Brand'" filter="{ Brand: 'text'}" sortable="'Brand'" ng-bind="zm.Brand" ></td>
                        <td data-title="'Category'" filter="{ Category: 'text'}" sortable="'Category'" ng-bind="zm.Category" ></td>
                        <td data-title="'SubCategory'" filter="{ SubCategory: 'text'}" sortable="'SubCategory'" ng-bind="zm.SubCategory" nowrap></td>
                        <td data-title="'Tax'" filter="{ Tax: 'text'}" sortable="'Tax'" ng-bind="zm.Tax" nowrap></td>
                        <td data-title="'BaseUnit'" filter="{ BaseUnit: 'text'}" sortable="'BaseUnit'" ng-bind="zm.BaseUnit" nowrap></td>
                        @*<td data-title="'Group'" filter="{ Group: 'text'}" sortable="'Group'" ng-bind="zm.Group" nowrap></td>*@
                        @*<td data-title="'proimg'"><a href="{{zm.proimg}}" target="_blank" ng-show="!!zm.proimg">click</a></td>*@
                        <td data-title="'Action'" class="tbl-controls" nowrap>
                            <a class="btn btn-xs btn-primary btn-rad" ng-click="EditProduct(zm)" data-toggle="modal" data-target="#myModal">Edit</a>
                            <a class="btn btn-xs btn-primary btn-rad" ng-click="DeleteProduct(zm.ProductID)">Delete</a>
                        </td>
                    </tr>
                    <tr ng-show="tableParams.total() == 0">
                        <td colspan="12">
                            No data.
                        </td>
                    </tr>

                </table>
            </div>
        </div>
    </div>

</div>

