﻿
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script src="~/ngScript/Dashboard/DashboardController.js"></script>
<div ng-controller="DashboardController">
    <div class="panel panel-flat">
        <div class="panel-body">          
                    <div class="row">
                        <div class="col-md-12">
                            <fieldset>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>From <span class="text-danger">*</span> :</label>
                                            <input type="text" class="form-control pickadate" placeholder="Select Date" ng-model="From" id="From">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>To <span class="text-danger">*</span> :</label>
                                            <input type="text" placeholder="Select Date" class="form-control pickadate" ng-model="To" id="To">
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary" id="btnsave" ng-click="showdata()">Search <i class="icon-arrow-right14 position-right"></i></button>

                                </div>


                            </fieldset>
                        </div>
                    </div>
            <!-- Count -->
            <div class="panel panel-flat">
                <div class="panel-body">
                    <div class="col-md-12">
                        <div class="col-lg-2">
                            <!-- Members online -->
                            <div class="panel bg-teal-400">
                                <div class="panel-body">
                                    <h3 class="no-margin" ng-bind="grosssale"></h3>
                                   Gross Sale
                                </div>
                            </div>
                            <!-- /members online -->
                        </div>
                        <div class="col-lg-2">
                            <!-- Members online -->
                            <div class="panel bg-teal-400">
                                <div class="panel-body">
                                    <h3 class="no-margin" ng-bind="return"></h3>
                                    Return
                                </div>
                            </div>
                            <!-- /members online -->
                        </div>
                        <div class="col-lg-2">
                            <!-- Members online -->
                            <div class="panel bg-teal-400">
                                <div class="panel-body">
                                    <h3 class="no-margin" ng-bind="discount"></h3>
                                    Discount
                                </div>
                            </div>
                            <!-- /members online -->
                        </div>
                        <div class="col-lg-2">
                            <!-- Members online -->
                            <div class="panel bg-teal-400">
                                <div class="panel-body">
                                    <h3 class="no-margin" ng-bind="netsale"></h3>
                                   Net Sale
                                </div>
                            </div>
                            <!-- /members online -->
                        </div>
                        <div class="col-lg-2">
                            <!-- Members online -->
                            <div class="panel bg-teal-400">
                                <div class="panel-body">
                                    <h3 class="no-margin" ng-bind="saletax"></h3>
                                    Sales Tax
                                </div>
                            </div>
                            <!-- /members online -->
                        </div>
                     </div>

                    <div class="col-lg-12">
                        <div class="col-lg-2">
                            <!-- Members online -->
                            <div class="panel bg-teal-400">
                                <div class="panel-body">
                                    <h3 class="no-margin" ng-bind="salecount"></h3>
                                   Sales Count
                                </div>
                            </div>
                            <!-- /members online -->
                        </div>
                        <div class="col-lg-2">
                            <!-- Members online -->
                            <div class="panel bg-teal-400">
                                <div class="panel-body">
                                    <h3 class="no-margin" ng-bind="avgsale"></h3>
                                   Average Sales
                                </div>
                            </div>
                            <!-- /members online -->
                        </div>
                        <div class="col-lg-2">
                            <!-- Members online -->
                            <div class="panel bg-teal-400">
                                <div class="panel-body">
                                    <h3 class="no-margin" ng-bind="custcount"></h3>
                                   Customer Count
                                </div>
                            </div>
                            <!-- /members online -->
                        </div>
                        <div class="col-lg-2">
                            <!-- Members online -->
                            <div class="panel bg-teal-400">
                                <div class="panel-body">
                                    <h3 class="no-margin" ng-bind="purchase"></h3>
                                    Purchase
                                </div>
                            </div>
                            <!-- /members online -->
                        </div>
                       
                    </div>
                 </div>
            </div>
            <!-- /Count -->

            <!-- Column chart -->
            <div class="panel panel-flat">
                <div class="panel-heading">
                    <h5 class="panel-title">Column chart</h5>
                    <div class="heading-elements">
                        <ul class="icons-list">
                            <li><a data-action="collapse"></a></li>
                            <li><a data-action="reload"></a></li>
                            <li><a data-action="close"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="chart-container">
                        <div class="chart" id="google-column"></div>
                    </div>
                </div>
            </div>
            <!-- /column chart -->
           
        </div>
    </div>
</div>

@*<script>

    // Initialize chart
    google.load("visualization", "1", { packages: ["corechart"] });
    google.setOnLoadCallback(drawColumn);


    // Chart settings
    function drawColumn() {

        // Data
        var data = google.visualization.arrayToDataTable([
            ['Year', 'Sales', 'Expenses'],
            ['2004', 100, 400],
            ['2005', 11, 460],
            ['2006', 60, 110],
            ['2007', 1030, 50]
        ]);


        // Options
        var options_column = {
            fontName: 'Roboto',
            height: 400,
            fontSize: 12,
            chartArea: {
                left: '5%',
                width: '90%',
                height: 350
            },
            tooltip: {
                textStyle: {
                    fontName: 'Roboto',
                    fontSize: 13
                }
            },
            vAxis: {
                title: 'Sales and Expenses',
                titleTextStyle: {
                    fontSize: 13,
                    italic: false
                },
                gridlines: {
                    color: '#e5e5e5',
                    count: 10
                },
                minValue: 0
            },
            legend: {
                position: 'top',
                alignment: 'center',
                textStyle: {
                    fontSize: 12
                }
            }
        };

        // Draw chart
        var column = new google.visualization.ColumnChart($('#google-column')[0]);
        column.draw(data, options_column);
    }

    $(function () {

        // Resize chart on sidebar width change and window resize
        $(window).on('resize', resize);
        $(".sidebar-control").on('click', resize);

        // Resize function
        function resize() {
            drawColumn();
        }
    });
</script>*@
