﻿
@{
    ViewBag.Title = "Promotion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/ngScript/Promotion/PromotionController.js"></script>
<div ng-controller="PromotionController">

    <div class="row">
        <div class="col-md-6">
            <label><h1>Promotion Details</h1></label>
            <div class="text-left">
                <button type="submit" class="btn btn-primary" ng-click="AddPromotion()">Add New Promotion </button>

                <div class="alert alert-success no-border" id="successdiv" ng-hide="success">
                    <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                    <span class="text-semibold">Well done!</span> You successfully save <a href="#" class="alert-link">this data</a>
                </div>
                <div class="alert alert-success no-border" id="successdiv" ng-hide="delete">
                    <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                    <span class="text-semibold">Well done!</span> You successfully delete <a href="#" class="alert-link">this data</a>
                </div>
                <div class="alert alert-danger no-border" id="errordiv" ng-hide="error">
                    <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                    <span class="text-semibold">Oh snap!</span> <a href="#" class="alert-link">try Try again</a>.
                </div>
                <div class="alert alert-danger no-border" id="errordiv" ng-hide="listerror">
                    <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                    <span class="text-semibold">Oh snap!</span> error in getting list <a href="#" class="alert-link">try refresh again</a>.
                </div>
            </div>
        </div>

    </div>

    <div class="panel panel-flat">
        <div class="panel-body" ng-hide="panel">

            <div class="row">
                <div class="col-md-12">
                    <fieldset>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Promotion Type <span class="text-danger">*</span> :</label>
                                    <input type="text" name="ShortName" placeholder="Promotion Type" class="form-control" ng-model="Promotion_Type" id="Promotion_Type" required="required">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Description <span class="text-danger">*</span> :</label>
                                    <input type="text" placeholder="Description" class="form-control" ng-model="Description" id="Description">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>EAN <span class="text-danger">*</span> :</label>
                                    <input type="text" placeholder="EAN" class="form-control" ng-model="EAN" id="EAN">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Price <span class="text-danger">*</span> :</label>
                                    <input type="text" placeholder="Price" class="form-control" ng-model="Price" id="Price">
                                </div>
                            </div>
                        </div>


                    </fieldset>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <fieldset>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>StartDate <span class="text-danger">*</span> :</label>
                                    <input type="text" class="form-control pickadate" placeholder="Select Date" ng-model="StartDate" id="StartDate">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>EndDate <span class="text-danger">*</span> :</label>
                                    <input type="text" class="form-control pickadate" placeholder="Select Date" ng-model="EndDate" id="EndDate">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>District <span class="text-danger">*</span> :</label>
                                    <input type="text" placeholder="District" class="form-control" ng-model="District" id="District">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>City <span class="text-danger">*</span> :</label>
                                    <input type="text" placeholder="District" class="form-control" ng-model="District" id="District">
                                </div>
                            </div>
                        </div>


                    </fieldset>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <fieldset>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Sun <span class="text-danger">*</span> :</label>
                                    <input type="checkbox" class="form-control" ng-model="Sun" id="Sun">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Mon <span class="text-danger">*</span> :</label>
                                    <input type="checkbox" class="form-control" ng-model="Mon" id="Mon">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Tue <span class="text-danger">*</span> :</label>
                                    <input type="checkbox" class="form-control" ng-model="Tue" id="Tue">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Wed <span class="text-danger">*</span> :</label>
                                    <input type="checkbox" class="form-control" ng-model="Wed" id="Wed">
                                </div>
                            </div>
                        </div>


                    </fieldset>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <fieldset>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Thu <span class="text-danger">*</span> :</label>
                                    <input type="checkbox" class="form-control" ng-model="Thu" id="Thu">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Fri <span class="text-danger">*</span> :</label>
                                    <input type="checkbox" class="form-control" ng-model="Fri" id="Fri">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Sat <span class="text-danger">*</span> :</label>
                                    <input type="checkbox" class="form-control" ng-model="Sat" id="Sat">
                                </div>
                            </div>                            
                        </div>


                    </fieldset>
                </div>
            </div>

            <div class="text-right">
                <div class="text-left">
                    <span ng-model="errormessage" style="color: red;" ng-bind="errormessage"></span>
                </div>
                <button type="submit" class="btn btn-primary" id="btncancel" ng-click="CancelPromotion()">Cancel </button>
                <button type="submit" class="btn btn-primary" id="btnsave" ng-click="SubmitPromotion()">Submit <i class="icon-arrow-right14 position-right"></i></button>
                <button type="submit" class="btn btn-primary" id="btnupdate" ng-click="UpdatePromotion()">Update <i class="icon-arrow-right14 position-right"></i></button>

            </div>

        </div>
    </div>


    <div class="panel panel-flat">
        <div class="panel-body">

            <div class=" border-ra div-bg-pd">
                <table ng-table="tableParams  " class="table  datatable-basic dataTable no-footer" show-filter="true">
                    <tr ng-repeat="zm in data">

                        <td data-title="'#'" style="text-align: center" width="4" ng-bind="$index+1"></td>
                        <td data-title="'ShortName'" filter="{ ShortName: 'text'}" sortable="'ShortName'" ng-bind="zm.ShortName" nowrap></td>
                        <td data-title="'Description'" filter="{ Description: 'text'}" sortable="'Description'" ng-bind="zm.Description"></td>
                        <td data-title="'Price'" filter="{ Price: 'text'}" sortable="'Price'" ng-bind="zm.Price" nowrap></td>
                        <td data-title="'StartDate'" filter="{ StartDate: 'text'}" sortable="'StartDate'" ng-bind="zm.StartDate | date:'dd-MMM-yyyy'" nowrap></td>
                        <td data-title="'EndDate'" filter="{ EndDate: 'text'}" sortable="'EndDate'" ng-bind="zm.EndDate | date:'dd-MMM-yyyy'" nowrap></td>                        
                        <td data-title="'Action'" class="tbl-controls" nowrap>
                            <a class="btn btn-xs btn-primary btn-rad" ng-click="EditPromotion(zm)" data-toggle="modal" data-target="#myModal">Edit</a>
                            <a class="btn btn-xs btn-primary btn-rad" ng-click="DeletePromotion(zm.Promotion_ID)">Delete</a>
                        </td>
                    </tr>
                    <tr ng-show="tableParams.total() == 0">
                        <td colspan="12">
                            No data.
                        </td>
                    </tr>

                </table>
            </div>
        </div>
    </div>

</div>

