﻿
@{
    ViewBag.Title = "Conversi0n";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<script type="text/javascript" src="~/Content/assets/js/plugins/pickers/pickadate/picker.js"></script>
<script type="text/javascript" src="~/Content/assets/js/plugins/pickers/pickadate/picker.date.js"></script>*@

<script src="~/ngScript/Conversi0n/Conversi0nController.js"></script>
<div ng-controller="Conversi0nController">

    <div class="row">
        <div class="col-md-6">
            <label><h1>Conversion Details</h1></label>
            <div class="text-left">
                <button type="submit" class="btn btn-primary" ng-click="AddConversi0n()">Add New Conversion </button>

                <div class="alert alert-success no-border" id="successdiv" ng-hide="success">
                    <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                    <span class="text-semibold">Well done!</span> You successfully save <a href="#" class="alert-link">this data</a>
                </div>
                <div class="alert alert-success no-border" id="successdiv" ng-hide="delete">
                    <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                    <span class="text-semibold">Well done!</span> You successfully delete <a href="#" class="alert-link">this data</a>
                </div>
                <div class="alert alert-danger no-border" id="errordiv" ng-hide="error">
                    <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                    <span class="text-semibold">Oh snap!</span> <a href="#" class="alert-link">try Try again</a>.
                </div>
                <div class="alert alert-danger no-border" id="errordiv" ng-hide="listerror">
                    <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                    <span class="text-semibold">Oh snap!</span> error in getting list <a href="#" class="alert-link">try refresh again</a>.
                </div>
            </div>
        </div>

    </div>

    <div class="panel panel-flat">
        <div class="panel-body" ng-hide="panel">

            <div class="row">
                <div class="col-md-12">
                    <fieldset>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>EAN <span class="text-danger">*</span> :</label>
                                    <input type="text" placeholder="EAN" class="form-control" ng-model="EAN" id="EAN">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Conv <span class="text-danger">*</span> :</label>
                                    <input type="text" placeholder="Conv" class="form-control" ng-model="Conv" id="Conv">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Product <span class="text-danger">*</span> :</label>
                                    <select class=" form-control" ng-model="ProductID" id="ProductID" name="ProductID"
                                            ng-options="item.ProductID as item.Description for item in ProductList">
                                        <option value="">Select Product</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>UOM <span class="text-danger">*</span> :</label>
                                    <select class=" form-control" ng-model="UOMID" id="UOMID" name="UOMID"
                                            ng-options="item.UOMID as item.Description for item in UOMList">
                                        <option value="">Select UOM</option>
                                    </select>
                                </div>
                            </div>
                        </div>


                    </fieldset>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <fieldset>
                        <div class="row">

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Base Unit <span class="text-danger">*</span> :</label>
                                    <select class=" form-control" ng-model="BaseUnit" id="BaseUnit" name="BaseUnit"
                                            ng-options="item.UOMID as item.Description for item in UOMList">
                                        <option value="">Select Base Unit</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Price <span class="text-danger">*</span> :</label>
                                    <input type="text" placeholder="Price" class="form-control" ng-model="Price" id="Price">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Price A <span class="text-danger">*</span> :</label>
                                    <input type="text" placeholder="PriceA" class="form-control" ng-model="PriceA" id="PriceA">
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Price B <span class="text-danger">*</span> :</label>
                                    <input type="text" placeholder="PriceB" class="form-control" ng-model="PriceB" id="PriceB">

                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <fieldset>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Price C <span class="text-danger">*</span> :</label>
                                    <input type="text" placeholder="PriceC" class="form-control" ng-model="PriceC" id="PriceC">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Least Price <span class="text-danger">*</span> :</label>
                                    <input type="text" placeholder="LeastPrice" class="form-control" ng-model="LeastPrice" id="LeastPrice">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Discount Price <span class="text-danger">*</span> :</label>
                                    <input type="text" placeholder="Discount Price" class="form-control" ng-model="DiscountPrice" id="DiscountPrice">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Discount Percent <span class="text-danger">*</span> :</label>
                                    <input type="text" placeholder="Discount Percent" class="form-control" ng-model="DiscountPercent" id="DiscountPercent">
                                </div>
                            </div>
                        </div>


                    </fieldset>
                </div>
            </div> 
            
            <div class="row">
                <div class="col-md-12">
                    <fieldset>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Sale Start <span class="text-danger">*</span> :</label>
                                    @*<input type="text" name="ShortName" placeholder="Sale Start" class="form-control" ng-model="SaleStart" id="SaleStart" required="required">*@
                                    <input type="text" class="form-control pickadate" placeholder="Select Date" ng-model="SaleStart" id="SaleStart">
                                </div>
                            </div>                           
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Sale End <span class="text-danger">*</span> :</label>
                                    <input type="text" placeholder="SaleEnd" class="form-control pickadate" ng-model="SaleEnd" id="SaleEnd">
                                </div>
                            </div>                            
                        </div>


                    </fieldset>
                </div>
            </div>


            <div class="text-right">
                <div class="text-left">
                    <span ng-model="errormessage" style="color: red;" ng-bind="errormessage"></span>
                </div>
                <button type="submit" class="btn btn-primary" id="btncancel" ng-click="CancelConversi0n()">Cancel </button>
                <button type="submit" class="btn btn-primary" id="btnsave" ng-click="SubmitConversi0n()">Submit <i class="icon-arrow-right14 position-right"></i></button>
                <button type="submit" class="btn btn-primary" id="btnupdate" ng-click="UpdateConversi0n()">Update <i class="icon-arrow-right14 position-right"></i></button>

            </div>

        </div>
    </div>


    <div class="panel panel-flat">
        <div class="panel-body">

            <div class=" border-ra div-bg-pd">
                <table ng-table="tableParams  " class="table  datatable-basic dataTable no-footer" show-filter="true">
                    <tr ng-repeat="zm in data">

                        <td data-title="'#'" style="text-align: center" width="4" ng-bind="$index+1"></td>
                        <td data-title="'EAN'" filter="{ EAN: 'text'}" sortable="'EAN'" ng-bind="zm.EAN" nowrap></td>
                        <td data-title="'Product Description'" filter="{ ProductDescription: 'text'}" sortable="'ProductDescription'" ng-bind="zm.ProductDescription"></td>
                        <td data-title="'Uom'" filter="{ Uom: 'text'}" sortable="'Uom'" ng-bind="zm.Uom" nowrap></td>
                        <td data-title="'Price'" filter="{ Price: 'text'}" sortable="'Price'" ng-bind="zm.Price" nowrap></td>
                        <td data-title="'LeastPrice'" filter="{ LeastPrice: 'text'}" sortable="'LeastPrice'" ng-bind="zm.LeastPrice" nowrap></td>
                        <td data-title="'DiscountPrice'" filter="{ DiscountPrice: 'text'}" sortable="'DiscountPrice'" ng-bind="zm.DiscountPrice" nowrap></td>
                        @*<td data-title="'Sale Start'" filter="{ SaleStart: 'text'}" sortable="'SaleStart'" ng-bind="zm.SaleStart | date:'dd-MMM-yyyy'" nowrap></td>
                        <td data-title="'Sale End'" filter="{ SaleEnd: 'text'}" sortable="'SaleEnd'" ng-bind="zm.SaleEnd | date:'dd-MMM-yyyy'" nowrap></td>*@
                        <td data-title="'Action'" class="tbl-controls" nowrap>
                            <a class="btn btn-xs btn-primary btn-rad" ng-click="EditConversi0n(zm)" data-toggle="modal" data-target="#myModal">Edit</a>
                            <a class="btn btn-xs btn-primary btn-rad" ng-click="DeleteConversi0n(zm.AutoID)">Delete</a>
                        </td>
                    </tr>
                    <tr ng-show="tableParams.total() == 0">
                        <td colspan="12">
                            No data.
                        </td>
                    </tr>

                </table>
            </div>
        </div>
    </div>

</div>

