﻿
@{
    ViewBag.Title = "Role";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/ngScript/Role/RoleController.js"></script>
<div ng-controller="RoleController">

    <div class="row">
        <div class="col-md-6">
            <label><h1>Role Details</h1></label>
            <div class="text-left">
                <button type="submit" class="btn btn-primary" ng-click="AddRole()">Add New Role </button>

                <div class="alert alert-success no-border" id="successdiv" ng-hide="success">
                    <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                    <span class="text-semibold">Well done!</span> You successfully save <a href="#" class="alert-link">this data</a>
                </div>
                <div class="alert alert-success no-border" id="successdiv" ng-hide="delete">
                    <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                    <span class="text-semibold">Well done!</span> You successfully delete <a href="#" class="alert-link">this data</a>
                </div>
                <div class="alert alert-danger no-border" id="errordiv" ng-hide="error">
                    <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                    <span class="text-semibold">Oh snap!</span> <a href="#" class="alert-link">try Try again</a>.
                </div>
                <div class="alert alert-danger no-border" id="errordiv" ng-hide="listerror">
                    <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                    <span class="text-semibold">Oh snap!</span> error in getting list <a href="#" class="alert-link">try refresh again</a>.
                </div>
            </div>
        </div>

    </div>

    <div class="panel panel-flat">
        <div class="panel-body" ng-hide="panel">

            <div class="row">
                <div class="col-md-12">
                    <fieldset>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Role Name <span class="text-danger">*</span> :</label>
                                    <input type="text" name="RoleName" placeholder="RoleName" class="form-control" ng-model="RoleName" id="RoleName" required="required">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Object Name <span class="text-danger">*</span> :</label>
                                    <select class=" form-control" ng-model="ObjectID" id="ObjectID" name="ObjectID"
                                            ng-options="item.ObjectID as item.ObjectType for item in ObjectList">
                                        <option value="">Select Object</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Display Access :</label>
                                    <input type="checkbox" class="form-control" ng-model="DisplayAccess" id="DisplayAccess">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Full Access <span class="text-danger">*</span> :</label>
                                    <input type="checkbox" class="form-control" ng-model="FullAccess" id="FullAccess">
                                </div>
                            </div>
                        </div>
                        <div class="row">                         
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>NO Access :</label>
                                    <input type="checkbox" class="form-control" ng-model="NoAccess" id="NoAccess">
                                </div>
                            </div>
                        </div>

                    </fieldset>
                </div>
            </div>


            <div class="text-right">
                <div class="text-left">
                    <span ng-model="errormessage" style="color: red;" ng-bind="errormessage"></span>
                </div>
                <button type="submit" class="btn btn-primary" id="btncancel" ng-click="CancelRole()">Cancel </button>
                <button type="submit" class="btn btn-primary" id="btnsave" ng-click="SubmitRole()">Submit <i class="icon-arrow-right14 position-right"></i></button>
                <button type="submit" class="btn btn-primary" id="btnupdate" ng-click="UpdateRole()">Update <i class="icon-arrow-right14 position-right"></i></button>

            </div>

        </div>
    </div>


    <div class="panel panel-flat">
        <div class="panel-body">

            <div class=" border-ra div-bg-pd">
                <table ng-table="tableParams  " class="table  datatable-basic dataTable no-footer" show-filter="true">
                    <tr ng-repeat="zm in data">

                        <td data-title="'#'" style="text-align: center" width="4" ng-bind="$index+1"></td>
                        <td data-title="'RoleName'" filter="{ RoleName: 'text'}" sortable="'RoleName'" ng-bind="zm.RoleName" nowrap></td>
                        <td data-title="'ObjectType'" filter="{ ObjectType: 'text'}" sortable="'ObjectType'" ng-bind="zm.ObjectType" nowrap></td>
                        <td data-title="'Action'" class="tbl-controls" nowrap>
                            <a class="btn btn-xs btn-primary btn-rad" ng-click="EditRole(zm)" data-toggle="modal" data-target="#myModal">Edit</a>
                            @*<a class="btn btn-xs btn-primary btn-rad" ng-click="DeleteRole(zm.RoleID)">Delete</a>*@
                        </td>
                    </tr>
                    <tr ng-show="tableParams.total() == 0">
                        <td colspan="12">
                            No data.
                        </td>
                    </tr>

                </table>
            </div>
        </div>
    </div>

</div>


