﻿
@{
    ViewBag.Title = "Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/ngScript/Customer/CustomerController.js"></script>
<div ng-controller="CustomerController">

    <div class="row">
        <div class="col-md-6">
            <label><h1>Customer Details</h1></label>
            <div class="text-left">
                <button type="submit" class="btn btn-primary" ng-click="AddCustomer()">Add New Customer </button>

                <div class="alert alert-success no-border" id="successdiv" ng-hide="success">
                    <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                    <span class="text-semibold">Well done!</span> You successfully save <a href="#" class="alert-link">this data</a>
                </div>
                <div class="alert alert-success no-border" id="successdiv" ng-hide="delete">
                    <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                    <span class="text-semibold">Well done!</span> You successfully delete <a href="#" class="alert-link">this data</a>
                </div>
                <div class="alert alert-danger no-border" id="errordiv" ng-hide="error">
                    <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                    <span class="text-semibold">Oh snap!</span> <a href="#" class="alert-link">try Try again</a>.
                </div>
                <div class="alert alert-danger no-border" id="errordiv" ng-hide="listerror">
                    <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                    <span class="text-semibold">Oh snap!</span> error in getting list <a href="#" class="alert-link">try refresh again</a>.
                </div>
            </div>
        </div>

    </div>

    <div class="panel panel-flat">
        <div class="panel-body" ng-hide="panel">

            <div class="row">
                <div class="col-md-12">
                    <fieldset>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Customer Short Name <span class="text-danger">*</span> :</label>
                                    <input type="text" name="ShortName" placeholder="Short Name" class="form-control" ng-model="ShortName" id="ShortName" required="required">
                                    @*<input type="text" name="basic" class="form-control" required="required" placeholder="Text input validation">*@
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Customer Long Name <span class="text-danger">*</span> :</label>
                                    <input type="text" placeholder="Long Name" class="form-control" ng-model="LongName" id="LongName">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Address <span class="text-danger">*</span> :</label>
                                    <input type="text" placeholder="Address" class="form-control" ng-model="Address" id="Address">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Permanant Address :</label>
                                    <input type="text" placeholder="Address" class="form-control" ng-model="Address1" id="Address1">
                                </div>
                            </div>
                        </div>


                    </fieldset>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <fieldset>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Area <span class="text-danger">*</span> :</label>
                                    <input type="text" placeholder="District" class="form-control" ng-model="Area" id="Area">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Street <span class="text-danger">*</span> :</label>
                                    <input type="text" placeholder="Street" class="form-control" ng-model="Street" id="Street">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>District <span class="text-danger">*</span> :</label>
                                    <input type="text" placeholder="District" class="form-control" ng-model="District" id="District">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>City <span class="text-danger">*</span> :</label>
                                    <select class=" form-control" ng-model="CityID" id="CityID" name="CityID"
                                            ng-options="item.CityID as item.Name for item in CityList">
                                        <option value="">Select City</option>
                                    </select>
                                </div>
                            </div>                            
                        </div>


                    </fieldset>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <fieldset>
                        <div class="row">

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Country <span class="text-danger">*</span> :</label>
                                    <select class=" form-control" ng-model="CountryID" id="CountryID" name="CountryID"
                                            ng-options="item.CountryID as item.Name for item in CountryList">
                                        <option value="">Select Country</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Phone <span class="text-danger">*</span> :</label>
                                    <input type="text" placeholder="Phone" class="form-control" ng-model="Phone" id="Phone">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Another Phone <span class="text-danger">*</span> :</label>
                                    <input type="text" placeholder="Phone" class="form-control" ng-model="Phone1" id="Phone1">
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Customer Type <span class="text-danger">*</span> :</label>
                                    <select class=" form-control" ng-model="CustTypeID" id="CustTypeID"
                                            ng-options="item.CustTypeID as item.Description for item in CustTypeList">
                                        <option value="">Select Customer Type</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <fieldset>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Fax <span class="text-danger">*</span> :</label>
                                    <input type="text" placeholder="Fax" class="form-control" ng-model="Fax" id="Fax">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Region <span class="text-danger">*</span> :</label>
                                    <input type="text" placeholder="Region" class="form-control" ng-model="Region" id="Region">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Mobile <span class="text-danger">*</span> :</label>
                                    <input type="text" placeholder="Mobile" class="form-control" ng-model="Mobile" id="Mobile">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Email <span class="text-danger">*</span> :</label>
                                    <input type="text" placeholder="Email" class="form-control" ng-model="Email" id="Email">
                                </div>
                            </div>
                        </div>


                    </fieldset>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <fieldset>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Website <span class="text-danger">*</span> :</label>
                                    <input type="text" placeholder="website" class="form-control" ng-model="website" id="website">
                                </div>
                            </div>                            
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Credit Limit <span class="text-danger">*</span> :</label>
                                    <input type="text" placeholder="Credit Limit" class="form-control" ng-model="CreditLimit" id="CreditLimit">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Credit Days <span class="text-danger">*</span> :</label>
                                    <input type="text" placeholder="Credit Days" class="form-control" ng-model="CreditDays" id="CreditDays">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Discount <span class="text-danger">*</span> :</label>
                                    <input type="text" placeholder="Discount" class="form-control" ng-model="Discount" id="Discount">
                                </div>
                            </div> 
                        </div>


                    </fieldset>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <fieldset>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Active <span class="text-danger">*</span> :</label>
                                    <input type="checkbox" class="form-control" ng-model="Active" id="Active">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Price List <span class="text-danger">*</span> :</label>
                                    <input type="text" placeholder="Price List" class="form-control" ng-model="PriceList" id="PriceList">
                                </div>
                            </div>                            
                           
                        </div>


                    </fieldset>
                </div>
            </div>


            <div class="text-right">
                <div class="text-left">
                    <span ng-model="errormessage" style="color: red;" ng-bind="errormessage"></span>
                </div>
                <button type="submit" class="btn btn-primary" id="btncancel" ng-click="CancelCustomer()">Cancel </button>
                <button type="submit" class="btn btn-primary" id="btnsave" ng-click="SubmitCustomer()">Submit <i class="icon-arrow-right14 position-right"></i></button>
                <button type="submit" class="btn btn-primary" id="btnupdate" ng-click="UpdateCustomer()">Update <i class="icon-arrow-right14 position-right"></i></button>

            </div>

        </div>
    </div>


    <div class="panel panel-flat">
        <div class="panel-body">

            <div class=" border-ra div-bg-pd">
                <table ng-table="tableParams  " class="table  datatable-basic dataTable no-footer" show-filter="true">
                    <tr ng-repeat="zm in data">

                        <td data-title="'#'" style="text-align: center" width="4" ng-bind="$index+1"></td>
                        <td data-title="'ShortName'" filter="{ ShortName: 'text'}" sortable="'ShortName'" ng-bind="zm.ShortName" nowrap></td>
                        <td data-title="'Area'" filter="{ Area: 'text'}" sortable="'Area'" ng-bind="zm.Area"></td>
                        <td data-title="'District'" filter="{ District: 'text'}" sortable="'District'" ng-bind="zm.District" nowrap></td>
                        <td data-title="'Mobile'" filter="{ Mobile: 'text'}" sortable="'Mobile'" ng-bind="zm.Mobile" nowrap></td>
                        <td data-title="'City'" filter="{ CityName: 'text'}" sortable="'CityName'" ng-bind="zm.CityName" nowrap></td>
                        <td data-title="'Country'" filter="{ CountryName: 'text'}" sortable="'CountryName'" ng-bind="zm.CountryName" nowrap></td>
                        <td data-title="'CustType'" filter="{ CustType: 'text'}" sortable="'CustType'" ng-bind="zm.CustType" nowrap></td>
                        <td data-title="'Action'" class="tbl-controls" nowrap>
                            <a class="btn btn-xs btn-primary btn-rad" ng-click="EditCustomer(zm)" data-toggle="modal" data-target="#myModal">Edit</a>
                            <a class="btn btn-xs btn-primary btn-rad" ng-click="DeleteCustomer(zm.CustID)">Delete</a>
                        </td>
                    </tr>
                    <tr ng-show="tableParams.total() == 0">
                        <td colspan="12">
                            No data.
                        </td>
                    </tr>

                </table>
            </div>
        </div>
    </div>

</div>

