﻿
@{
    ViewBag.Title = "Tender";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/ngScript/Tender/TenderController.js"></script>
<div ng-controller="TenderController">

    <div class="row">
        <div class="col-md-6">
            <label><h1>Tender Details</h1></label>
            <div class="text-left">
                <button type="submit" class="btn btn-primary" ng-click="AddTender()">Add New Tender </button>

                <div class="alert alert-success no-border" id="successdiv" ng-hide="success">
                    <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                    <span class="text-semibold">Well done!</span> You successfully save <a href="#" class="alert-link">this data</a>
                </div>
                <div class="alert alert-success no-border" id="successdiv" ng-hide="delete">
                    <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                    <span class="text-semibold">Well done!</span> You successfully delete <a href="#" class="alert-link">this data</a>
                </div>
                <div class="alert alert-danger no-border" id="errordiv" ng-hide="error">
                    <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                    <span class="text-semibold">Oh snap!</span> <a href="#" class="alert-link">try Try again</a>.
                </div>
                <div class="alert alert-danger no-border" id="errordiv" ng-hide="listerror">
                    <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                    <span class="text-semibold">Oh snap!</span> error in getting list <a href="#" class="alert-link">try refresh again</a>.
                </div>
            </div>
        </div>

    </div>

    <div class="panel panel-flat">
        <div class="panel-body" ng-hide="panel">

            <div class="row">
                <div class="col-md-12">
                    <fieldset>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>TenderName <span class="text-danger">*</span> :</label>
                                    <input type="text" name="TenderName" placeholder="TenderName" class="form-control" ng-model="TenderName" id="TenderName" required="required">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Currency <span class="text-danger">*</span> :</label>
                                    <input type="text" name="Currency" placeholder="Currency" class="form-control" ng-model="Currency" id="Currency" required="required">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Tender Type <span class="text-danger">*</span> :</label>
                                    <input type="text" name="TenderType" placeholder="TenderType" class="form-control" ng-model="TenderType" id="TenderType" required="required">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>ATM_API_Linked <span class="text-danger">*</span> :</label>
                                    <input type="checkbox" class="form-control" ng-model="ATM_API_Linked" id="ATM_API_Linked">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Approval Code <span class="text-danger">*</span> :</label>
                                    <input type="checkbox" class="form-control" ng-model="Approval_Code" id="Approval_Code">
                                </div>
                            </div>                           
                        </div>
                    </fieldset>
                </div>
            </div>


            <div class="text-right">
                <div class="text-left">
                    <span ng-model="errormessage" style="color: red;" ng-bind="errormessage"></span>
                </div>
                <button type="submit" class="btn btn-primary" id="btncancel" ng-click="CancelTender()">Cancel </button>
                <button type="submit" class="btn btn-primary" id="btnsave" ng-click="SubmitTender()">Submit <i class="icon-arrow-right14 position-right"></i></button>
                <button type="submit" class="btn btn-primary" id="btnupdate" ng-click="UpdateTender()">Update <i class="icon-arrow-right14 position-right"></i></button>

            </div>

        </div>
    </div>


    <div class="panel panel-flat">
        <div class="panel-body">

            <div class=" border-ra div-bg-pd">
                <table ng-table="tableParams  " class="table  datatable-basic dataTable no-footer" show-filter="true">
                    <tr ng-repeat="zm in data">

                        <td data-title="'#'" style="text-align: center" width="4" ng-bind="$index+1"></td>
                        <td data-title="'TenderName'" filter="{ TenderName: 'text'}" sortable="'TenderName'" ng-bind="zm.TenderName" nowrap></td>
                        <td data-title="'Currency'" filter="{ Currency: 'text'}" sortable="'Currency'" ng-bind="zm.Currency" nowrap></td>
                        <td data-title="'TenderType'" filter="{ TenderType: 'text'}" sortable="'TenderType'" ng-bind="zm.TenderType" nowrap></td>
                        <td data-title="'Action'" class="tbl-controls" nowrap>
                            <a class="btn btn-xs btn-primary btn-rad" ng-click="EditTender(zm)" data-toggle="modal" data-target="#myModal">Edit</a>
                            <a class="btn btn-xs btn-primary btn-rad" ng-click="DeleteTender(zm.TenderID)">Delete</a>
                        </td>
                    </tr>
                    <tr ng-show="tableParams.total() == 0">
                        <td colspan="12">
                            No data.
                        </td>
                    </tr>

                </table>
            </div>
        </div>
    </div>

</div>

